<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Blog Category Form</title>
    <!--  <link th:rel="stylesheet" th:href="@{/webjars/summernote/dist/summernote-bs5.min.css}"/>-->
    <!--    <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">-->



</head>
<body>
    <div th:fragment="blog-category-form">
        <link th:rel="stylesheet" th:href="@{/assets/css/plugins.min.css}" />
        <link th:rel="stylesheet" th:href="@{/assets/css/kaiadmin.min.css}" />
        <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.css" integrity="sha512-rDHV59PgRefDUbMm2lSjvf0ZhXZy3wgROFyao0JxZPGho3oOuWejq/ELx0FOZJpgaE5QovVtRN65Y3rrb7JhdQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--  <div class="g-3 container">-->
    <!--     <form id="blog-cat-add-form" th:action="@{/dashboard/blogs/categories/processBlogCategoryForm}" th:object="${blogCategory}" th:method="POST">-->
    <!--         <input th:field="*{blogCategoryId}" type="hidden">-->
    <!--         <div class="width-100 width-md-50">-->
    <!--             <label for="blogCategoryName" class="form-label">Blog Category Name</label>-->
    <!--             <input th:field="*{blogCategoryName}" type="text" class="form-control" id="blogCategoryName" placeholder="">-->
    <!--         </div>-->
    <!--         <div class="width-100 width-md-75 my-3">-->
    <!--             <label for="editor" class="form-label mb-3">Blog Category Description</label>-->
    <!--&lt;!&ndash;             <textarea th:field="*{blogCategoryDescription}" rows="4" class="form-control" id="blogCategoryDesc"></textarea>&ndash;&gt;-->
    <!--             <div id="editor" th:data-content="*{blogCategoryDescription}" style="background-color: #fff; height: 300px; border: 1px solid #ccc;"></div>-->

    <!--             &lt;!&ndash; Hidden field to send the rich text data &ndash;&gt;-->
    <!--             <input type="hidden" id="quill-content" name="blogCategoryDescription">-->
    <!--         </div>-->
    <!--        <div class="my-3">-->
    <!--          <input class="success-button" type="submit" value="Submit">-->
    <!--        </div>-->
    <!--     </form>-->
    <!--&lt;!&ndash;      <script th:src="@{/js/custom-jodit.js}"></script>&ndash;&gt;-->
    <!--      <script>-->
    <!--          $('#editor').summernote({-->
    <!--            placeholder: 'Hello stand alone ui',-->
    <!--            tabsize: 2,-->
    <!--            height: 120,-->
    <!--            toolbar: [-->
    <!--              ['style', ['style']],-->
    <!--              ['font', ['bold', 'underline', 'clear']],-->
    <!--              ['color', ['color']],-->
    <!--              ['para', ['ul', 'ol', 'paragraph']],-->
    <!--              ['table', ['table']],-->
    <!--              ['insert', ['link', 'picture', 'video']],-->
    <!--              ['view', ['fullscreen', 'codeview', 'help']]-->
    <!--            ]-->
    <!--          });-->
    <!--      </script>-->

    <!--  </div>-->
        <div class="summernote" name="description"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.js" integrity="sha512-qTQLA91yGDLA06GBOdbT7nsrQY8tN6pJqjT16iTuk08RWbfYmUz/pQD3Gly1syoINyCFNsJh7A91LtrLIwODnw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                     $('.summernote').summernote({
                         placeholder: 'Write something amazing!',    // Placeholder text
                         tabsize: 4,                                 // Tab size in spaces
                         height: 300,                                // Editor height in pixels
                         minHeight: 200,                             // Minimum height
                         maxHeight: 500,                             // Maximum height
                         focus: true,                                // Focus editor on load
                         lang: 'en-US',                              // Language (default is English)
                         airMode: false,                             // Disable Air Mode

                         // Custom toolbar
                         toolbar: [
                             ['style', ['style']],
                             ['font', ['bold', 'italic', 'underline', 'clear']],
                             ['fontsize', ['fontsize']],
                             ['fontname', ['fontname']],
                             ['color', ['color']],
                             ['para', ['ul', 'ol', 'paragraph']],
                             ['table', ['table']],
                             ['insert', ['link', 'picture', 'video', 'hr']],
                             ['view', ['fullscreen', 'codeview', 'help']]
                         ],

                         // Font settings
                         fontNames: ['Arial', 'Comic Sans MS', 'Courier New', 'Times New Roman'],
                         fontSizes: ['8', '10', '12', '14', '16', '18', '24', '36', '48', '64'],

                         // Line height options
                         lineHeights: ['1', '1.5', '2', '2.5', '3'],

                         // Style tags
                         styleTags: ['p', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],

                         // Popover settings
                         popover: {
                             image: [
                                 ['custom', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']]
                             ],
                             link: [
                                 ['link', ['linkDialogShow', 'unlink']]
                             ],
                             air: [
                                 ['color', ['color']],
                                 ['font', ['bold', 'underline', 'clear']],
                                 ['para', ['ul', 'paragraph']]
                             ]
                         },

                         // Callbacks for custom behavior
                         callbacks: {
                             onInit: function () {
                                 console.log('Editor initialized');
                             },
                             onFocus: function () {
                                 console.log('Editor focused');
                             },
                             onBlur: function () {
                                 console.log('Editor blurred');
                             },
                             onChange: function (contents, $editable) {
                                 console.log('Content changed:', contents);
                             },
                             onImageUpload: function (files) {
                                 console.log('Image upload:', files);
                                 // Handle image upload logic here (e.g., upload to a server)
                             }
                         },

                         // Code view options
                         codeviewFilter: true,              // Filter HTML content in code view
                         codeviewIframeFilter: true,        // Filter iframe content in code view

                         // Disable drag-and-drop if needed
                         disableDragAndDrop: false
                     });
                 });
        </script>

    </div>
</body>
</html>