<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="church-contacts-list">
    <div th:each="contact: ${churchContacts}">
        <div class="shadow-sm p-3 card">
            <div class="card-body">
                <p>[[${contact.contactFullName}]]</p>
                <p>[[${contact.contactPhone}]]</p>
                <p>[[${contact.contactEmail}]]</p>
                <p th:utext="${contact.contactDescription}"></p>
            </div>
        </div>
    </div>
  </div>
</body>
</html>