<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="contact-us-form" class="container">
    <div id="messageDisplay" class="text-success d-flex justify-content-center">
        <p class="fw-bold">[[${message}]]</p>
    </div>
    <div class="d-flex justify-content-center">
        <h2>Contact Us</h2>
    </div>
    <form th:action="@{/contactUs}" th:object="${contactUs}" method="post">
        <!-- First Name -->
        <div class="mb-3">
<!--            <label for="firstName" class="form-label">First Name</label>-->
            <input type="text"
                   th:field="*{firstName}"
                   class="form-control form-control-lg"
                   id="firstName"
                   placeholder="Enter your first name">
            <div th:if="${#fields.hasErrors('firstName')}" class="ps-3 text-danger fw-bold">
                <p th:errors="${contactUs.firstName}"></p>
            </div>
        </div>

        <!-- Last Name -->
        <div class="mb-3">
<!--            <label for="lastName" class="form-label">Last Name</label>-->
            <input type="text"
                   th:field="*{lastName}"
                   class="form-control form-control-lg"
                   id="lastName"
                   placeholder="Enter your last name">
            <div th:if="${#fields.hasErrors('lastName')}" class="ps-3 text-danger fw-bold">
                <p th:errors="${contactUs.lastName}"></p>
            </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
<!--            <label for="email" class="form-label">Email</label>-->
            <input type="email"
                   th:field="*{email}"
                   class="form-control form-control-lg"
                   id="email"
                   placeholder="Enter your email address">
            <div th:if="${#fields.hasErrors('email')}" class="ps-3 text-danger fw-bold">
                <p th:errors="${contactUs.email}"></p>
            </div>
        </div>

        <!-- Phone Number -->
        <div class="mb-3">
<!--            <label for="phoneNumber" class="form-label">Phone Number</label>-->
            <input type="tel"
                   th:field="*{phoneNumber}"
                   class="form-control form-control-lg"
                   id="phoneNumber"
                   placeholder="Enter your phone number">
            <div th:if="${#fields.hasErrors('firstName')}" class="ps-3 text-danger fw-bold">
                <p th:errors="${contactUs.phoneNumber}"></p>
            </div>
        </div>

        <!-- Message -->
        <div class="mb-3">
<!--            <label for="message" class="form-label">Message</label>-->
            <textarea
                    th:field="*{message}"
                    class="form-control form-control-lg"
                    id="message_"
                    rows="5"
                    placeholder="Enter your message"></textarea>
            <div th:if="${#fields.hasErrors('message')}" class="ps-3 text-danger fw-bold">
                <p th:errors="${contactUs.message}"></p>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-center">
            <button type="submit" class="success-button mb-4">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
