<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event Detail</title>
</head>
<body>
    <div th:fragment="event-detail" class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 shadow card">
                <div class="ps-lg-1-6 ps-xl-5 card-body">
                    <div class="text-end"><a href="/events" class="text-success"><h5>Back to list</h5></a></div>
                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn">
                            <h4 class="mb-0 text-primary">[[${event.eventTitle}]]</h4>
                        </div>
                        <p th:utext="${event.eventDescription}"></p>
                    </div>

                    <div class="mb-5 wow fadeIn">
                        <div class="mb-5 wow fadeIn">
                            <div class="row mt-n4">
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="fa-2x fa-regular fa-calendar me-3 text-secondary"></i>
                                            <h3 class="h5 mb-3">Event Date</h3>
                                            <p class="mb-0">[[${event.eventDate}]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="fa-regular fa-2x fa-clock me-3 text-secondary"></i>
                                            <h3 class="h5 mb-3">Event Time</h3>
                                            <p class="mb-0">[[${event.eventTime}]]</p>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${event.featured}" class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="fa-solid fa-star fa-2x me-3 text-warning"></i>
                                            <h3 class="h5 mb-3">Featured</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5 wow fadeIn">
                        <div class="text-start mb-1-6 wow fadeIn mb-3">
                            <h4 class=" mb-0 text-primary">Address</h4>
                        </div>
                        <h6 class="text-secondary">[[${event.address.getFullAddress()}]]</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>