<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Announcement Details</title>
</head>
<body>
  <div th:fragment="announcement-detail">
    <div class="container mt-5">
      <h1 th:text="${announcement.title}"></h1>
      <p><strong>Created At:</strong> <span class="text-muted" th:text="${announcement.createdAt.format(@dateTimeFormatter)}"></span></p>
      <p><strong>Last Modified At:</strong> <span class="text-muted" th:text="${announcement.lastModifiedAt.format(@dateTimeFormatter)}"></span></p>
      <h1><strong>Content:</strong></h1>
      <p th:utext="${announcement.content}"></p>
      <div class="d-flex flex-row">
        <p class="me-4"><strong>Featured:</strong> <span th:text="${announcement.featured? 'Yes': 'No'}"></span></p>
        <p class="me-4"><strong>Active:</strong> <span th:text="${announcement.active? 'Yes': 'No'}"></span></p>
        <p class="me-4"><strong>Archived:</strong> <span th:text="${announcement.archived? 'Yes': 'No'}"></span></p>
      </div>

      <div class="mt-4">
        <a href="/dashboard/announcements" class="success-button">Back to List</a>
        <a th:href="@{/dashboard/announcements/edit/{id}(id=${announcement.id})}" class="warning-button">Edit</a>
      </div>
    </div>
  </div>
</body>
</html>
