<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News-list</title>
</head>
<body th:fragment="membership-list">
    <div class="d-flex justify-content-end mx-3">
        <a th:href="@{/dashboard/membership/form}">
            <h6 class="text-decoration-underline">
                Post New News
            </h6>
        </a>
    </div>
    <h3 class="m-3 text-center text-md-start">News List</h3>
    <ul class="list-group list-group-light row">
        <div th:each="membership: ${membershipList}" class="col-md-6 col-12">
            <div class="card" role="button">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10" th:onclick="|window.location='@{/dashboard/membership/detail/{id}(id=${membership.membershipId})}'|">
                            <li class="d-flex justify-content-between align-items-center">
                                <h4>[[${membership.membershipTitle}]]</h4>
                            </li>
                            <p class="muted badge badge-secondary rounded-pill" th:text="${membership.membershipPostTime != null ? membership.membershipPostTime.format(@dateTimeFormatter) : ''}"></p>
                        </div>
                        <div class="col-2 d-flex justify-content-end"  th:onclick="|window.location='@{/dashboard/membership/delete/{id}(id=${membership.membershipId})}'|">
                            <i class="fa-solid fa-lg fa-trash delete-icon" style="color: brown;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <!-- Show a message if there are no blogs -->
    <div th:if="${membershipList.size() == 0}">
        <h4 colspan="4" class="text-center text-muted">No News Found.</h4>
    </div>
    <div>
        <div th:replace="~{fragments/pagination::pagination}"></div>
    </div>
</body>
</html>