<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members List</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<div th:fragment="membership-amounts-list">
    <div class="container my-5">
        <h4 class="m-3 text-center text-md-start">Membership Amounts List</h4>
        <div class="table-responsive mb-4">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th>Number</th>
                    <th>Membership Amount</th>
                    <th>Membership Description</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate through the attachments list -->
                <tr th:each="membershipAmt, iterStat : ${membershipAmounts}" class="shadow mb-2" role="button">
                    <!--                    <td th:text="${iterStat.index + 1}"></td> &lt;!&ndash; Row number &ndash;&gt;-->
                    <td th:text="${iterStat.index + 1}"></td> <!-- Row number -->
                    <td>[[${membershipAmt.membershipAmount}]]</td>
                    <td>[[${membershipAmt.membershipAmountDescription}]]</td>
                    <td>
                        <a th:href="@{/dashboard/members/membership-amounts/edit/{id}(id=${membershipAmt.membershipAmountId})}" class="success-button button-sm me-2 mb-2">Edit</a>
                        <a th:href="@{/dashboard/members/membership-amounts/delete/{id}(id=${membershipAmt.membershipAmountId})}"
                           class="danger-button button-sm me-2 mb-2"
                            onclick="return confirm('Are you sure you want to delete this amount?')">Delete</a>
                    </td>
                </tr>
                <!-- Show a message if there are no attachments -->
                <tr th:if="${membershipAmounts.size() == 0}">
                    <td colspan="4" class="text-center text-muted">No requests found.</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div th:replace="~{fragments/pagination::pagination}"></div>
        <script th:src="@{/js/media.js}"></script>
        <div>
            <button class="success-button" th:onclick="|window.location='@{/dashboard/members/membership-amounts/form}'|">Add Membership Amount</button>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>
