<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Membership Category Detail</title>
</head>
<body>
<div th:fragment="memberships-category-detail" class="list-group">

    <div class="card">
        <div class="m-3">
            <Span class="d-flex justify-content-end">
            <a th:href="@{/dashboard/memberships/categories/edit/{id}(id=${membershipCategory.membershipCategoryId})}" class="me-1">Edit</a>
            |
            <a th:href="@{/dashboard/memberships/categories}" class="mx-1">Back to the list</a>
            </Span>
        </div>
        <div class="card-header">
            <div class="d-flex w-100">
                <h5 class="mb-1">[[${membershipCategory.membershipName}]]</h5>
            </div>
        </div>

        <div class="card-header">
            <div class="d-flex w-100">
                <h5 class="mb-1" th:utext="${membershipCategory.membershipDescription}"></h5>
            </div>
        </div>

        <div class="card-header">
            <div class="d-flex w-100">
                 <h5 class="mb-1">[[${membershipCategory.membershipAmount}]]</h5>
            </div>
        </div>

    </div>

</div>
</body>
</html>