<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Membership Category</title>
</head>
<body th:fragment="memberships-category-form">
  <div class="g-3 container">
     <form id="membership-cat-add-form" th:action="@{/dashboard/memberships/categories/processMembershipForm}" th:object="${membershipCategory}" th:method="POST">
         <input th:field="*{membershipCategoryId}" type="hidden">
         <div class="width-100 width-md-50">
             <label for="membershipName" class="h3 form-label">Membership Name</label>
             <input th:field="*{membershipName}" class="form-control" id="membershipName" placeholder="">
         </div>
         <div class="width-100 width-md-75 my-3">
             <label for="editor" class="h3 form-label mb-3">Membership Description</label>
             <textarea id="editor" th:field="*{membershipDescription}"></textarea>
         </div>
         <div class="width-100 width-md-50">
             <label for="memAmount" class="h3 form-label mb-3">Membership Amount</label>
             <input type="number" min="0" id="memAmount"  th:field="*{membershipAmount}" class="form-control" placeholder="0.0">
         </div>
        <div class="my-3">
          <input class="success-button" type="submit" value="Submit">
        </div>
     </form>





<!--  <textarea id="editor"></textarea>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/4.2.43/es2015/jodit.min.js" integrity="sha512-pyip6KKyZblKvXg4AaNzEfxJpaXUWGxdOQOC0+N+1wklVTMXpa5QSHUAxdoaAkWcmFhPY6TdoD2sWIeJ3G/c9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!--    <script>-->
<!--        const editor = Jodit.make("#editor", {-->
<!--            "autofocus": true,-->
<!--            "iframe": true,-->
<!--            "uploader": {-->
<!--              "insertImageAsBase64URI": true-->
<!--            },-->
<!--            //"readonly": true,-->
<!--            "spellcheck": true,-->
<!--            //"theme": "dark",-->
<!--            "enter": "P",-->
<!--            "defaultMode": "1",-->
<!--            "saveHeightInStorage": true,-->
<!--            "saveModeInStorage": true,-->
<!--            "minHeight": 300,-->
<!--            "iframeCSSLinks": [],-->
<!--            "iframeBaseUrl": "http://",-->
<!--            "allowDragAndDrop": true,-->
<!--            //"buttons": "bold,italic,underline,strikethrough,eraser,ul,ol,font,fontsize,paragraph,lineHeight,superscript,subscript,classSpan,file,image,video,spellcheck,speechRecognize"-->


<!--    });-->


<!--  </script>-->
      <script th:src="@{/js/custom-jodit.js}"></script>
  </div>
</body>
</html>