<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
</head>
<body>
    <div th:fragment="blog-detail" class="list-group container">
        <div class="card">
            <div class="m-3">
                <Span class="d-flex justify-content-end">
                    <a th:href="@{/blogs}" class="mx-1">Back to the list</a>
                </Span>
            </div>
            <div class="card-header">
                <div class="d-flex w-100">
                    <h5 class="mb-1">[[${blog.blogTitle}]]</h5>
                </div>
                <p class="text-muted" th:text="${blog.blogTime != null ? blog.blogTime.format(@dateTimeFormatter): ''}"></p>
            </div>

            <div class="card-body">
                <p class="mb-1" th:utext="${blog.blogText}"></p>
            </div>
        </div>
    </div>
</body>
</html>