<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Detail</title>
</head>
<body th:fragment="blog-detail">
    <div class="list-group container">
        <div class="">
            <div class="m-3">
                <Span class="d-flex justify-content-end">
                    <a th:href="@{/blogs}" class="mx-1 text-success h5">Blogs</a>
                </Span>
            </div>
           <div class="shadow-sm bg-white rounded-3 px-3">
               <div class="">
                   <div class="d-flex w-100">
                       <h5 class="mb-1 py-2">[[${blog.blogTitle}]]</h5>
                   </div>
                   <p class="" th:text="${blog.blogTime != null ? blog.blogTime.format(@dateTimeFormatter): ''}"></p>
               </div>

               <div class="">
                   <p class="mb-1" th:utext="${blog.blogText}"></p>
               </div>
           </div>
        </div>
    </div>
</body>
</html>