<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>News Detail</title>
</head>
<body th:fragment="news-detail">
    <div class="list-group container">
          <div class="">
              <div class="m-3">
                <Span class="d-flex justify-content-end">
                    <a th:href="@{/news}" class="mx-1 text-success h6">Back to the list</a>
                </Span>
              </div>
              <div class="card">
                <div class="card-header">
                  <div class="d-flex w-100">
                    <h5 class="mb-1">[[${news.newsTitle}]]</h5>
                  </div>
                  <p class="text-muted" th:text="${news.newsPostTime != null ? news.newsPostTime.format(@dateTimeFormatter): ''}"></p>
                  by <span th:text="${news.postedBy.username}"></span>
                </div>

                <div class="card-body">
                  <p class="mb-1" th:utext="${news.newsText}"></p>
                </div>
          </div>
      </div>
    </div>
</body>
</html>