<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS425 - Bootstrap Carousel</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
</head>
<body th:fragment="albums-list">
    <div class="container">
        <style>
            img {
                height: 400px;
                object-fit: cover;
            }
        </style>
    <!--    <div class="d-flex justify-content-end text-success"><a th:href="@{/media-center/options}" class="h6">Back to options</a></div>-->
        <div th:if="${albums?.size() > 0}" class="row g-4">
            <div class="col-md-6 col-lg-4" th:each="album, albumStat : ${albums}" th:if="${album.imageList.size() > 0}">
                <div th:id="'carousel_' + ${albumStat.index}" class="carousel slide" data-bs-ride="carousel"
                     data-bs-interval="3000">
                    <div class="carousel-indicators">
                        <button type="button"
                                th:attr="data-bs-target='#carousel_' + ${albumStat.index}"
                                th:attrappend="data-bs-slide-to=${mediaStat.index}"
                                th:class="${mediaStat.index == 0} ? 'active' : 'bg-white'"
                                th:each="image, mediaStat : ${album.imageList}"
                                style="width: 12px; height: 12px; border-radius: 50%;"
                                aria-current="true" aria-label="Slide"></button>

                    </div>
                    <div class="carousel-inner">
                        <div th:each="image, mediaStat : ${album.imageList}"
                             th:classappend="${mediaStat.index == 0} ? 'carousel-item active' : 'carousel-item'"
                             role="button">
                            <img class="d-block w-100 rounded-3"
                                 th:src="${image.imagePath}"
                                 alt="Slide" th:onclick="|window.location='@{/media-center/albums/{id}/images(id=${album.albumId})}'|">
                        </div>
                    </div>
                    <button class="carousel-control-prev"
                            th:attr="data-bs-target='#carousel_' + ${albumStat.index}" type="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"
                            th:attr="data-bs-target='#carousel_' + ${albumStat.index}" type="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="text-center my-2">
                    <h6>Album: [[${album.albumName}]]</h6>
                </div>
            </div>
        </div>
        <div th:if="${albums?.size() == 0}" class="text-center fs-4 my-4">
            No image found.
        </div>
    </div>
</body>
</html>
