<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attachments List</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body >
    <div th:fragment="attachments-list" class="container">
<!--        <div class="text-end">-->
<!--            <a href="/media-center/options" class="text-success fw-bold">Back to options</a>-->
<!--        </div>-->
        <h4 class=" text-center text-md-start">Files</h4>

        <!-- Table to display the attachments -->
        <div class="d-flex flex-wrap justify-content-end mb-3 me-4">
            <form action="/media-center/files" method="get">
                <div class="input-group me-3 w-auto mb-3">
                    <input name="name" type="text" class="form-control" placeholder="Search by document name" aria-label="Document name" aria-describedby="basic-addon2">
                    <div class="input-group-append text-center">
                        <button class="btn btn-outline-info fw-bold" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <div class="d-flex align-items-center mb-3">
                <select id="sort-attachment-by" class="form-select sort-by" onchange="sortByCriteria(this)" data-navigate-to="/media-center/files" style="width:auto;">
                    <!-- <option th:selected="${sortBy == null or sortBy == ''}">&#45;&#45; Select &#45;&#45;</option> -->
                    <option th:value="'attachmentName'" th:selected="${sortBy == 'attachmentName'}">Attachment Name</option>
                    <option th:value="'attachmentTime'" th:selected="${sortBy == 'attachmentTime'}">Attachment Time</option>
                </select>
                <label for="sort-attachment-by" class="me-2 mb-0 text-center fw-bold text-info ms-2"> Sort</label>
            </div>
        </div>

        <div th:if="${attachments?.size() > 0}" class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="">
                <tr>
<!--                    <th>#</th>-->
                    <th>Attachment Name</th>
                    <th>Type</th>
                    <th>Upload Time</th>
                    <th>Uploaded By</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate through the attachments list -->
                <tr th:each="attachment, iterStat : ${attachments}">
<!--                    <td th:text="${iterStat.index + 1}"></td> &lt;!&ndash; Row number &ndash;&gt;-->
<!--                    <td th:text="${attachment.attachmentName}"></td> &lt;!&ndash; Attachment Name &ndash;&gt;-->

                    <td><a th:href="${attachment.attachmentPath}" th:text="${attachment.attachmentName}"></a></td>

                    <td>
                        <!-- Display attachment type with an icon -->
                        <span th:if="${attachment.attachmentType.attachmentTypeName.toLowerCase() == 'pdf'}" class="badge bg-danger">[[${attachment.attachmentType.attachmentTypeName}]]</span>
                        <span th:if="${attachment.attachmentType.attachmentTypeName.toLowerCase() == 'word'}" class="badge bg-primary">[[${attachment.attachmentType.attachmentTypeName}]]</span>
                        <button th:if="${attachment.attachmentType.attachmentTypeName.toLowerCase() == 'other'}"
                                class="badge bg-success">
                            [[${attachment.attachmentType.attachmentTypeName}]]
                        </button>
                    </td>
                    <td>
                        <p th:text="${attachment.attachmentTime.format(@dateTimeFormatter)}"></p>
                    </td>
                    <td>
                        [[${attachment.uploadedBy.username}]]
                    </td>
                    <td>
                        <!-- Actions: View or Download -->
<!--                        <a th:href="@{/attachments/view/{id}(id=${attachment.attachmentId})}" class="btn btn-sm btn-landing-content me-2 mb-2">View</a>-->
                        <a th:href="@{/medias/attachments/download/{id}(id=${attachment.attachmentId})}" class="btn btn-sm btn-success me-2 mb-2">Download</a>
<!--                        <a class="btn btn-sm btn-secondary mb-2 path-btn"-->
<!--                           th:attr="data-copy=${attachment.attachmentPath}"-->
<!--                           onclick="copyToClipboard(this)">-->
<!--                            Copy URI-->
<!--                        </a>-->
<!--                        <P class="text-success path-copied" style="display: none;"> Path copied!</P>-->
                    </td>
                </tr>
                <!-- Show a message if there are no attachments -->
                <tr th:if="${attachments.size() == 0}">
                    <td colspan="4" class="text-center text-muted">No attachments found.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${attachments?.size() == 0}" class="text-center fs-4 my-4">
            No document found.
        </div>
        <div th:replace="~{fragments/pagination::pagination}"></div>
        <script th:src="@{/js/media.js}"></script>
    </div>

<!-- Include Bootstrap JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>
