<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Media Cente Options</title>
</head>
<body>
    <div th:fragment="media-center-options">
        <div class="d-flex align-items-center justify-content-center w-100 h-100" style="min-height: 40vh;">
            <div>
                <div class="mb-3 shadow-sm text-center px-5 py-3 text-success" role="button" th:onclick="|window.location.href='@{/media-center/albums}'|">
                    <h5 class="">Images</h5>
                </div>
                <div class="mb-3 shadow-sm text-center px-5 py-3 text-success" role="button" th:onclick="|window.location.href='@{/media-center/videos}'|">
                    <h5 class="">Videos</h5>
                </div>
                <div class="mb-3 shadow-sm text-center px-5 py-3 text-success" role="button" th:onclick="|window.location.href='@{/media-center/files}'|">
                    <h5 class="">Files</h5>
                </div>
            </div>
        </div>
    </div>

</body>
</html>