<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Media Cente Options</title>
</head>
<body>
    <div th:fragment="media-center-options">
        <div class="card mb-3 width-100 width-md-50 shadow" role="button" th:onclick="|window.location.href='@{/media-center/albums}'|">
            <div class="card-body d-flex justify-content-center my-5">
                <h3 class="text-primary">Images</h3>
            </div>
        </div>
        <div class="card mb-3 width-100 width-md-50 shadow" role="button" th:onclick="|window.location.href='@{/media-center/videos}'|">
            <div class="card-body d-flex justify-content-center my-5">
                <h3 class="text-primary">Video</h3>
            </div>
        </div>
        <div class="card mb-3 width-100 width-md-50 shadow" role="button" th:onclick="|window.location.href='@{/media-center/files}'|">
            <div class="card-body d-flex justify-content-center my-5">
                <h3 class="text-primary">Files</h3>
            </div>
        </div>
        </div>
    </div>
</body>
</html>