<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events-timeline.css}">
</head>
<body>
  <div th:fragment="services-list">
      <div class="text-success p-4">
          <h5 th:if="${param.baptism}">Request for Baptism is submitted!</h5>
          <h5 th:if="${param.matrimony}">Request for Holy Matrimony is submitted!</h5>
          <h5 th:if="${param.remembrance}">Request for Remembrance form is submitted!</h5>
      </div>
      <div class="row">
          <div class="col-md-8 col-12 card me-3 mb-3">
              <div class="card-body">
                  <div class="m-4">
                      <h4 th:if="${churchServices.size() == 0}">No service found!</h4>
                  </div>
                  <div th:each="service: ${churchServices}" class="py-4 service-list shadow-sm mb-3 rounded-3 border border-info" role="button" style="">
                      <div class="row">
                          <div class="col-10" th:onclick="|window.location='@{/church-services/detail/{id}(id=${service.serviceId})}'|">
                              <h4 href="#" class="list-group-item list-group-item-action px-3 border-1">[[${service.serviceName}]]</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-12 card mb-3" style="background-color: #FAF9F6; border-radius: 5px">
              <div class="card-body">
                  <div class="mb-3 p-3 shadow-sm" role="button" th:onclick="|window.location='@{/church-services/baptism/form}'|">
                      <h5 class="text-info">Baptism Request Form</h5>
                  </div>
                  <div class="mb-3 p-3 shadow-sm" role="button" th:onclick="|window.location='@{/church-services/matrimony/form}'|">
                      <h5 class="text-info">Holy Matrimony Request Form</h5>
                  </div>
                  <div class="p-3 shadow-sm" role="button" th:onclick="|window.location='@{/church-services/remembrance/form}'|">
                      <h5 class="text-info">Remembrance Prayer Request Form</h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>