<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Remembrance Request Form</title>
</head>
<body>
    <div th:fragment="remembrance-request-form">
        <div class="card">
            <div class="card-body shadow-sm p-4">
                <form th:action="@{/church-services/remembrance/form/process}" th:object="${remembrance}" method="POST">
                    <div class="mb-3">
                        <h3>Fill this form to request for Remembrance Prayer</h3>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-6 col-12">
                            <label for="requestorFullname" class="form-label">Requester Full Name</label>
                            <input th:field="*{requestorFullname}" type="text" class="form-control" id="requestorFullname">
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="christianNameOfThePrayerIsFor" class="form-label">Baptismal Name Of The Prayer Is For</label>
                            <input th:field="*{christianNameOfThePrayerIsFor}" type="text" class="form-control" id="christianNameOfThePrayerIsFor">
                        </div>

                        <div class="col-md-6 col-12">
                            <label for="spiritualFatherFullname" class="form-label">Father Confessor Full Name</label>
                            <input th:field="*{spiritualFatherFullname}" type="text" class="form-control" id="spiritualFatherFullname">
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="prayerForDate" class="form-label">Prayer For Date</label>
                            <input th:field="*{prayerForDate}" type="date" class="form-control" id="prayerForDate">
                        </div>

                        <div class="col-md-6 col-12">
                            <label for="message" class="form-label">Message</label>
                            <textarea th:field="*{message}" class="form-control" id="message" rows="4"></textarea>
                        </div>

                    </div>
                    <div class="mt-3">
                        <button type="submit" class="success-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>