<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact Us Message Detail</title>
</head>
<body>
    <div th:fragment="contact-us-message-detail">
        <div class="container mt-5">
            <h4>Contact Us Detail</h4>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Message from <span th:text="${message.firstName} + ' ' + ${message.lastName}"></span></h5>
                    <p class="card-text"><strong>Email:</strong> <span th:text="${message.email}"></span></p>
                    <p class="card-text"><strong>Phone Number:</strong> <span th:text="${message.phoneNumber}"></span></p>
                    <p class="card-text"><strong>Message:</strong> <span th:text="${message.message}"></span></p>
                    <p class="card-text"><strong>Message Time:</strong> <span th:text="${message.messageTime?.format(@dateTimeFormatter)}"></span></p>
                    <p class="card-text"><strong>Read Status:</strong> <span th:text="${message.read ? 'Read' : 'Unread'}" th:class="${message.read ? 'text-success': 'text-danger'}"></span></p>
                    <p class="card-text" th:if="${message.read}">
                        <strong>Read Time:</strong> <span th:text="${message.readTime?.format(@dateTimeFormatter)}"></span>
                    </p>
                    <a href="/dashboard/messages" class="success-button text-decoration-none">Messages list</a>
                </div>
            </div>
            <div class="my-3">
                <div th:replace="~{dashboard/dash-fragments/messages/contact-us-message-replies::contact-us-message-replies}"></div>
            </div>
        </div>
    </div>
</body>
</html>