<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>About Us</title>
</head>
<body>
<div th:fragment="about-us-list">
  <div class="container mt-5">
    <h1>About Us Records</h1>
    <div class="table-responsive mt-4">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Content Title</th>
          <th>Created At</th>
          <th>Last Modified At</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr
                th:each="aboutUs : ${aboutUsList}"
                role="button"
                th:onclick="|window.location='@{/dashboard/aboutUs/detail/{id}(id=${aboutUs.id})}'|"
                tabindex="0"
                aria-label="View details for ID [[${aboutUs.id}]]">
          <td th:text="${aboutUs.id}"></td>
          <td th:text="${aboutUs.title}"></td>

          <td th:text="${aboutUs.createdAt.format(@dateTimeFormatter)}"></td>
          <td th:text="${aboutUs.lastModifiedAt.format(@dateTimeFormatter)}"></td>
          <td>
            <div class="d-flex flex-row">
              <a th:href="@{/dashboard/aboutUs/detail/{id}(id=${aboutUs.id})}" class="btn btn-success btn-sm me-2" aria-label="View About Us with ID [[${aboutUs.id}]]">View</a>
              <a th:href="@{/dashboard/aboutUs/edit/{id}(id=${aboutUs.id})}" class="btn btn-warning btn-sm me-2" aria-label="Edit About Us with ID [[${aboutUs.id}]]">Edit</a>
              <a th:href="@{/dashboard/aboutUs/delete/{id}(id=${aboutUs.id})}" class="btn btn-danger btn-sm" aria-label="Delete About Us with ID [[${aboutUs.id}]]">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-start mt-3">
      <a th:href="@{/dashboard/aboutUs/form}" class="btn btn-success">Add New About Us</a>
    </div>
  </div>
</div>
</body>
</html>
