<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
  <div th:fragment="users-list" class="mt-5">
    <h2>User List</h2>
    <div class="my-5">
      <h2>Search Users</h2>
      <form action="/dashboard/users" method="get" class="form-inline">
        <!-- Email Input -->
        <div class="row">
          <div class="col-md-4 col-xl-3 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" />
          </div>

          <!-- Username Input -->
          <div class="col-md-4 col-xl-3 mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" />
          </div>

          <!-- First Name Input -->
          <div class="col-md-4 col-xl-3 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter first name" />
          </div>

          <!-- Last Name Input -->
          <div class="col-md-4 col-xl-3 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name" />
          </div>

          <!-- Role Input -->
          <div class="col-md-4 col-xl-3 mb-3">
            <label for="role" class="form-label">Role</label>
            <select id="role" name="role" class="form-select">
              <option th:each="role: ${roles}" th:value="${role.roleId}" th:text="${role.roleName}"></option>
            </select>
          </div>

          <!-- Submit Button -->
          <div class="col-md-4 col-xl-3 mb-3 mt-4">
            <button type="submit" class="success-button">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="table-responsive">

      <table class="table table-bordered table-striped">
        <thead>
        <tr class="bg-dark">
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Registration Time</th>
          <th>Active</th>
          <th>Blocked</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anyUser : ${allUsers}">
          <td th:text="${anyUser.userId}"></td>
          <td th:text="${anyUser.username}"></td>
          <td th:text="${anyUser.email}"></td>
          <td th:text="${anyUser.registrationTime?.format(@dateTimeFormatter)}"></td>
          <td th:text="${anyUser.active ? 'Yes' : 'No'}" th:class="${anyUser.active ? 'text-success' : 'text-danger'}"></td>
          <td th:text="${anyUser.blocked ? 'Yes' : 'No'}" th:class="${anyUser.blocked ? 'text-danger' : 'text-success'}"></td>
          <td>
            <a th:href="@{/dashboard/users/detail/{id}(id=${anyUser.userId})}" class="info-button button-sm me-2 mb-2">View</a>
            <a th:href="@{/dashboard/users/edit/{id}(id=${anyUser.userId})}" class="warning-button button-sm me-2 mb-2">Edit</a>
            <a th:href="@{/dashboard/users/delete/{id}(id=${anyUser.userId})}" class="danger-button button-sm me-2 mb-2"
               onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <div th:replace="~{fragments/pagination::pagination}"></div>
    </div>
  </div>

</body>
</html>
