<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Details</title>
</head>
<body>
  <div th:fragment="user-detail" class="mt-5">
    <div class="text-end mb-4">
          <a href="/dashboard/users" class="success-button me-2 mb-2">Back to Users List</a>
          <a th:href="@{'/dashboard/users/edit/'+${anyUser.userId}}" class="warning-button">Edit</a>
    </div>
    <h1>User Details</h1>

    <!-- User Information Section -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>User Information</h3>
      </div>
      <div class="card-body">
        <p><strong>Username:</strong> <span th:text="${anyUser.username}"></span></p>
        <p><strong>Email:</strong> <span th:text="${anyUser.email}"></span></p>
        <p><strong>Registration Date:</strong> <span th:text="${anyUser.registrationTime.format(@dateTimeFormatter)}"></span></p>
        <p><strong>Status:</strong> <span th:text="${anyUser.isActive ? 'Active' : 'Inactive'}"></span></p>
        <p><strong>Blocked:</strong> <span th:text="${anyUser.isBlocked ? 'Blocked' : 'Not Blocked'}"></span></p>
      </div>
    </div>

    <!-- User Profile Section -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>Profile Information</h3>
      </div>
      <div class="card-body">
        <p><strong>Full Name:</strong> <span th:text="${anyUser.userProfile?.firstName + ' ' + anyUser.userProfile?.lastName}"></span></p>
        <p><strong>Spiritual Father:</strong> <span th:text="${anyUser.userProfile?.spiritualFatherName}"></span></p>
        <p><strong>Christian Name:</strong> <span th:text="${anyUser.userProfile?.christianName}"></span></p>
        <p><strong>Gender:</strong> <span th:text="${anyUser.userProfile?.gender}"></span></p>
        <p><strong>Date of Birth:</strong> <span th:text="${anyUser.userProfile?.dob}"></span></p>
        <p><strong>Phone Number:</strong> <span th:text="${anyUser.userProfile?.phoneNumber}"></span></p>
        <p><strong>Biography:</strong> <span th:text="${anyUser.userProfile?.biography}"></span></p>
        <p><strong>Profile Photo:</strong></p>
        <img th:src="@{${anyUser.userProfile?.profilePhoto}}" class="img-thumbnail" alt="Profile Photo" width="200">
      </div>
    </div>

    <!-- User Roles Section -->
    <div class="card mb-4">
      <div class="card-header">
        <h3>User Roles</h3>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li th:each="role : ${anyUser.roles}" class="list-group-item">
            <span th:text="${role.roleName}"></span> - <span th:text="${role.roleDescription}"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-end mb-4">
      <a href="/dashboard/users" class="success-button me-2 mb-2">Back to Users List</a>
      <a th:href="@{'/dashboard/users/edit/'+${anyUser.userId}}" class="warning-button">Edit</a>
    </div>
  </div>
</body>
</html>
