<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="banner">
<!--        <div th:if="${churchDetail != null and churchDetail?.banners.size() > 0}" id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">-->
<!--            &lt;!&ndash; Indicators &ndash;&gt;-->
<!--            <div class="carousel-indicators">-->
<!--                <div th:each="_, stat : ${churchDetail?.banners}">-->
<!--                    <button type="button"-->
<!--                            data-bs-target="#carouselExampleIndicators"-->
<!--                            data-bs-slide-to="${stat.index}"-->
<!--                            th:classappend="${stat.index == 0} ? 'active' : ''"-->
<!--                            th:attr="aria-current=${stat.index == 0 ? 'true' : 'false'}, aria-label='Slide ' + (${stat.index + 1})">-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->


<!--            &lt;!&ndash; Carousel Items &ndash;&gt;-->
<!--            <div class="carousel-inner">-->
<!--                <div th:if="${churchDetail != null}">-->
<!--                    <div th:each="banner, stat : ${churchDetail?.banners}">-->
<!--                        <div class="carousel-item"-->
<!--                             th:style="|background-image: url('${banner?.churchBanner}');|"-->
<!--                             th:classappend="${stat.index == 0} ? 'active' : ''">-->
<!--                            <div class="carousel-caption d-none d-md-block">-->
<!--                                <h1>[[${churchDetail?.church?.churchName}]]</h1>-->
<!--                                <p class="h5">[[${churchDetail?.address?.city}]], [[${churchDetail?.address?.country}]]</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--            &lt;!&ndash; Controls &ndash;&gt;-->
<!--            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">-->
<!--                <div class="bg-dark d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">-->
<!--                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Previous</span>-->
<!--                </div>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">-->
<!--                <div class="bg-dark d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </div>-->
<!--            </button>-->
<!--        </div>-->







        <!-- Individual -->
<!--        <div id="carouselParent" class="carousel slide" data-bs-ride="carousel">-->
<!--            <div class="carousel-inner">-->
<!--                <th:block th:each="banner, stat : ${churchDetail?.banners}">-->
<!--                    <div class="carousel-item active" data-bs-interval="10000"-->
<!--                         th:style="|background-image: url('${banner?.churchBanner}');|"-->
<!--                         th:classappend="${stat.index == 0} ? 'active' : ''">-->
<!--&lt;!&ndash;                        <img th:src="${banner?.churchBanner}" class="d-block w-100 " alt="...">&ndash;&gt;-->

<!--                    </div>-->
<!--                </th:block>-->
<!--            </div>-->

<!--                <a class="carousel-control-prev" href="#carouselParent" role="button" data-bs-slide="prev">-->
<!--                    <div class="bg-dark d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">-->
<!--                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                        <span class="visually-hidden">Previous</span>-->
<!--                    </div>-->
<!--                </a>-->

<!--            <a class="carousel-control-next" href="#carouselParent" role="button" data-bs-slide="next">-->
<!--                <div class="bg-dark d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">-->
<!--                    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                    <span class="visually-hidden">Next</span>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->





        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <th:block th:each="_, stat : ${churchDetail?.banners}">
                        <li data-bs-target="#carouselExampleCaptions" th:data-bs-slide-to="${stat?.index}"
                            th:class="${stat?.index == 0 ? 'active' : ''}"></li>
                    </th:block>
                </div>
                <div class="carousel-inner">
                    <th:block th:if="${churchDetail != null}" th:each="banner, stat : ${churchDetail?.banners}">
                        <div class="carousel-item" th:style="|background-image: url('${banner?.churchBanner}');|"
                             th:classappend="${stat?.index == 0 ? 'active' : ''}">
                            <div class="carousel-caption">
                                <h1 class="rounded-3 banner-caption">[[${churchDetail?.church?.churchName}]]</h1>
                                <p class="h5 rounded-3 banner-caption">[[${churchDetail?.address?.city}]], [[${churchDetail?.address?.country}]]</p>
                            </div>
                        </div>
                    </th:block>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                    <div class="banner-control d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                    <div class="banner-control d-flex justify-content-center align-items-center" style="width: 50px; height: 50px; border-radius: 50%;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>







