<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="content">
    <div class="content-page py-4">
        <div th:if="${activeContentPage == 'landing-page'}">
            <div th:replace="~{fragments/landing-page::landing-page}"></div>
        </div>

        <div th:if="${activeContentPage == 'news-list'}">
            <div th:replace="~{fragments/news/news-list::news-list}"></div>
        </div>

        <div th:if="${activeContentPage == 'news-detail'}">
            <div th:replace="~{fragments/news/news-detail::news-detail}"></div>
        </div>


        <!-- =========== BLOG =======================================   -->

        <main th:if="${activeContentPage == 'blog-category-list'}">
            <div th:replace="~{fragments/blogs/blog-category-list::blog-category-list}"></div>
        </main>
        <main th:if="${activeContentPage == 'blog-category-detail'}">
            <div th:replace="~{fragments/blogs/blog-category-detail::blog-category-detail}"></div>
        </main>

        <main th:if="${activeContentPage == 'blogs-list'}">
            <div th:replace="~{fragments/blogs/blogs-list::blogs-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'blog-detail'}">
            <div th:replace="~{fragments/blogs/blog-detail::blog-detail}"></div>
        </main>

        <!-- =========== BLOG =======================================   -->

        <main th:if="${activeContentPage == 'events-list'}">
            <div th:replace="~{fragments/events/events-list::events-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'event-detail'}">
            <div th:replace="~{fragments/events/event-detail::event-detail}"></div>
        </main>

        <!-- =========== MEDIA CENTER =======================================   -->

        <main th:if="${activeContentPage == 'media-center-options'}">
            <div th:replace="~{fragments/media/media-center-options::media-center-options}"></div>
        </main>

        <main th:if="${activeContentPage == 'videos-list'}">
            <div th:replace="~{fragments/media/videos-list::videos-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'albums-list'}">
            <div th:replace="~{fragments/media/albums-list::albums-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'album-detail'}">
            <div th:replace="~{fragments/media/album-detail::album-detail}"></div>
        </main>

        <main th:if="${activeContentPage == 'files-list'}">
            <div th:replace="~{fragments/image/files-list::files-list}"></div>
        </main>

        <!-- =========== Attachments =======================================   -->

        <main th:if="${activeContentPage == 'attachments-list'}">
            <div th:replace="~{fragments/media/attachments-list::attachments-list}"></div>
        </main>


        <!-- ============== SERVICE ==================== -->

        <main th:if="${activeContentPage == 'services-list'}">
            <div th:replace="~{fragments/services/services-list::services-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'service-detail'}">
            <div th:replace="~{fragments/services/service-detail::service-detail}"></div>
        </main>

        <main th:if="${activeContentPage == 'baptism-request-form'}">
            <div th:replace="~{fragments/services/request-forms/baptism-request-form::baptism-request-form}"></div>
        </main>

        <main th:if="${activeContentPage == 'matrimony-request-form'}">
            <div th:replace="~{fragments/services/request-forms/matrimony-request-form::matrimony-request-form}"></div>
        </main>

        <main th:if="${activeContentPage == 'remembrance-request-form'}">
            <div th:replace="~{fragments/services/request-forms/remembrance-request-form::remembrance-request-form}"></div>
        </main>

<!--        ============= MEMBERSHIPS =========================== -->

        <main th:if="${activeContentPage == 'member-form'}">
            <div th:replace="~{fragments/services/request-forms/member-form::member-form}"></div>
        </main>


        <main th:if="${activeContentPage == 'member-form-submitted'}">
            <div th:replace="~{fragments/services/request-forms/member-form-submitted::member-form-submitted}"></div>
        </main>

        <!--    ============= CONTACT US =========================== -->

        <main th:if="${activeContentPage == 'contact-us-options'}">
            <div th:replace="~{fragments/contacts/contact-us-options::contact-us-options}"></div>
        </main>

        <!--    ============= DONATION  ============================= -->

        <main th:if="${activeContentPage == 'donation-options'}">
            <div th:replace="~{fragments/payment/donation/donation-options::donation-options}"></div>
        </main>

        <main th:if="${activeContentPage == 'donation-checkout-request-result'}">
            <div th:replace="~{fragments/payment/donation/donation-checkout-request-result::donation-checkout-request-result}"></div>
        </main>

        <main th:if="${activeContentPage == 'donation-success'}">
            <div th:replace="~{fragments/payment/donation/donation-success::donation-success}"></div>
        </main>

        <main th:if="${activeContentPage == 'donation-cancel'}">
            <div th:replace="~{fragments/payment/donation/donation-cancel::donation-cancel}"></div>
        </main>

        <!--    ============= SHOPPING  ============================= -->

        <main th:if="${activeContentPage == 'public-products-list'}">
            <div th:replace="~{fragments/shopping/public-products-list::public-products-list}"></div>
        </main>

        <main th:if="${activeContentPage == 'public-product-detail'}">
            <div th:replace="~{fragments/shopping/public-product-detail::public-product-detail}"></div>
        </main>

        <main th:if="${activeContentPage == 'shopping-cart-detail'}">
            <div th:replace="~{fragments/shopping/shopping-cart-detail::shopping-cart-detail}"></div>
        </main>

        <main th:if="${activeContentPage == 'checkout-page'}">
            <div th:replace="~{fragments/shopping/checkout-page::checkout-page}"></div>
        </main>

        <main th:if="${activeContentPage == 'checkout-success'}">
            <div th:replace="~{fragments/shopping/checkout-success::checkout-success}"></div>
        </main>

        <main th:if="${activeContentPage == 'checkout-cancel'}">
            <div th:replace="~{fragments/shopping/checkout-cancel::checkout-cancel}"></div>
        </main>

    </div>
</body>
</html>