<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="footer">
    <!-- Footer -->
    <div class="text-center text-lg-start bg-body-tertiary text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a th:if="${churchDetail?.church?.facebook != null and churchDetail?.church?.facebook != ''}" th:href="${churchDetail?.church?.facebook}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a  th:if="${churchDetail?.church?.xAccount != null and churchDetail?.church?.xAccount != ''}" th:href="${churchDetail?.church?.xAccount}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a  th:if="${churchDetail?.church?.youtube != null and churchDetail?.church?.youtube != ''}" th:href="${churchDetail?.church?.youtube}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a  th:if="${churchDetail?.church?.tiktok != null and churchDetail?.church?.tiktok != ''}" th:href="${churchDetail?.church?.tiktok}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a  th:if="${churchDetail?.church?.whatsAppGroup != null and churchDetail?.church?.whatsAppGroup != ''}" th:href="${churchDetail?.church?.whatsAppGroup}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
                <a  th:if="${churchDetail?.church?.telegramGroup != null and churchDetail?.church?.telegramGroup != ''}" th:href="${churchDetail?.church?.telegramGroup}" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4" th:text="${churchDetail?.church?.churchName}">
                            Company name
                        </h6>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Services
                        </h6>
                        <p>
                            <a href="/events" class="text-reset">Events</a>
                        </p>
                        <p>
                            <a href="/blogs" class="text-reset">Blogs</a>
                        </p>
                        <p>
                            <a href="/church-services" class="text-reset">Services</a>
                        </p>
                        <p>
                            <a href="/donation/options" class="text-reset">Donation</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="/news" class="text-reset">News</a>
                        </p>
                        <p>
                            <a href="/media-center/options" class="text-reset">Media Center</a>
                        </p>
                        <p>
                            <a href="/members/form" class="text-reset">Membership</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i>[[${churchDetail?.address?.getFullAddress()}]]</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            [[${churchDetail?.church?.email}]]
                        </p>
                        <p><i class="fas fa-phone me-3"></i> [[${churchDetail?.church?.phoneNumber1}]] </p>
                        <p><i class="fas fa-print me-3"></i> [[${churchDetail?.church?.phoneNumber2}]] </p>
                        <p>
                            <a th:href="@{/contactUs}" class="text-reset">Contact Us</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold">[[${churchDetail?.church?.churchName}]]</a>
        </div>
        <!-- Copyright -->
    </div>
    <!-- Footer -->
</div>
</body>
</html>