<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
</head>
<body>
 <h2 th:fragment="footer">NEW FOOTER</h2>
<!-- <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<!-- <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>-->
</body>
</html>