<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header th:fragment="header" class="main-header">
    <nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-between align-items-center p-4">
      <a class="navbar-brand" th:href="@{/}">Home</a>
      <!-- Left aligned logo -->
      <a class="navbar-brand" th:href="@{/}">
        <img src="https://via.placeholder.com/96" alt="Logo">
      </a>
      <a th:href="@{/dashboard/home}" sec:authorize="hasAnyRole('ADMIN', 'ROLE_CLERGY')" class="navbar-brand">
        Dashboard
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Right aligned nav items -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Services <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Donation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Information</a>
          </li>
          <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link d-inline" th:href="@{/users/login}">Login</a>
            |
            <a class="nav-link d-inline" th:href="@{/users/register}">Register</a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a class="nav-link d-inline" th:href="@{/users/logout}">Logout</a>
          </li>
        </ul>

      </div>
    </nav>
</header>

  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
</body>
</html>