<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Content Form</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body th:fragment="landing-content-form">
  <div>
    <form  th:action="${landingContent.landingContentId == 0? '/dashboard/landing-contents/processForm': '/dashboard/landing-contents/processUpdateForm'}"
           th:object="${landingContent}"
           method="POST">
      <div class="mb-3">
        <h3>Add a New Content</h3>
      </div>
      <input th:field="*{landingContentId}" type="hidden" id="contentId">
      <div class="row g-3 ">
        <div class="col-12">
          <label for="contentTitle" class="form-label">Content Title</label>
          <input th:field="*{landingContentTitle}" type="text" class="form-control width-md-50" id="contentTitle">
        </div>
        <div class="col-12">
          <label for="tiny" class="form-label">Content Description</label>
          <textarea id="tiny" th:field="*{content}" class="form-control width-md-50 tiny" rows="4"></textarea>
        </div>
        <div class="form-check col">
          <input th:field="*{featured}" class="form-check-input" type="checkbox" id="isFeatured1">
          <label class="form-check-label" for="isFeatured1">
            Feature this Content
          </label>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="success-button">Save</button>
      </div>
    </form>
  </div>
<!--  <script th:src="@{/js/custom-jodit.js}"></script>-->

</body>
</html>