<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing Content List</title>
</head>
<body th:fragment="landing-content-list">
<div class="d-flex justify-content-end mx-3">
    <a th:href="@{/dashboard/landing-contents/form}">
        <h6 class="text-decoration-underline">
            Create New Content
        </h6>
    </a>
</div>
<h3 class="m-3 text-center text-md-start">Landing Content List</h3>
<ul class="list-group list-group-light row">
    <div th:each="landingContent: ${landingContentList}" class="col-md-6 col-12">
        <div class="card" role="button">
            <div class="card-body">
                <div class="row">
                    <div class="col-10" th:onclick="|window.location='@{/dashboard/landing-contents/detail/{id}(id=${landingContent.landingContentId})}'|">
                        <li class="d-flex justify-content-between align-items-center">
                            <h4>[[${landingContent.landingContentTitle}]]</h4>
                        </li>
                        <p class="muted badge badge-secondary rounded-pill" th:text="${landingContent.contentCreationTime != null ? landingContent.contentCreationTime.format(@dateTimeFormatter) : ''}"></p>
                    </div>
                    <div class="col-2 d-flex justify-content-end" >
                        <i class="fa-solid fa-lg fa-trash delete-icon" style="color: brown;" th:onclick="|window.location='@{/dashboard/landing-contents/delete/{id}(id=${landingContent.landingContentId})}'|"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ul>
<!-- Show a message if there are no blogs -->
<div th:if="${landingContentList.size() == 0}">
    <h4 colspan="4" class="text-center text-muted">No Landing Content Found.</h4>
</div>
<div>
    <div th:replace="~{fragments/pagination::pagination}"></div>
</div>
</body>
</html>