 textarea {
     resize: vertical !important;
     min-height: 100px !important; /* Minimum height */
     width: 100% !important;
     overflow-y: auto !important;
 }

 .width-50{
    width: 50% !important;
 }

 .width-75{
     width: 75% !important;
  }

.width-100{
    width: 100% !important;
}

@media (min-width: 768px){
    .width-md-50{
        width: 50% !important;
     }

    .width-md-75{
        width: 75% !important;
      }

    .width-md-100{
        width: 100% !important;
    }
}

table {
        border-collapse: collapse; /* Prevents double borders */
    }

table, th, td {
    border: 1px solid black !important; /* Adds border to table, header, and cells */
}

.error{
    color: red;
}

@media print{
    .dash-header{
        display: none !important;
    }

    .dash-sidebar{
            display: none !important;
        }

    .dash-footer{
        display: none !important
    }

    .wrapper{
        margin: 0 !important;
        pading: 0 !important;
    }

    .main-panel{
            margin: 0 !important;
            pading: 0 !important;
        }


}
