
.center-xy{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-y{
    display: flex;
    justify-content: center;
}

.center-x{
    display: flex;
    align-items: center;
}


.main-header{
    background-color: #DEF2F9;
    height: 20vh;
}

@media (max-height: 480px){
    height: 45vh;
}

@media (max-height: 768px){
    height: 30vh;
}

body {
   background-color: #f8f9fa; /* Light background */
  }



