<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachment Form</title>
</head>
<body>
    <div>


        <!--        <div class="my-3">-->
        <!--          <label for="attachmentType" class="form-label">Media Type</label>-->
        <!--          <select th:field="*{attachmentType}" class="form-select" id="attachmentType">-->
        <!--            <option th:each="mediatype: ${attachmentTypes}" th:value="${mediatype.mediaTypeId}" >[[${mediatype.mediaTypeName}]]</option>-->
        <!--          </select>-->
        <!--        </div>-->
    </div>
</body>
</html>