<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Media Form</title>
</head>
<body>
  <div th:fragment="media-form">
      <h3>Add New Media</h3>
    <form th:action="@{/medias/form}" th:object="${media}" method="POST" enctype="multipart/form-data">
      <div class="row g-3 width-md-75">
<!--        <input th:if="${media.mediaId != 0}" type="hidden" th:field="*{mediaId}">-->
        <div class="my-3">

          <div class="my-3">
            <label for="existingAlbums" class="form-label">Album</label>
            <select th:field="*{album}" class="form-select" id="existingAlbums">
              <option value="0">...Select album...</option>
              <option th:each="album: ${albums}" th:value="${album.albumId}">[[${album.albumName}]]</option>
            </select>
              <div th:if="${#fields.hasErrors('album')}">
                  <p th:errors="*{album}" class="error"></p>
              </div>
          </div>
          <div class="mt-3" id="newAlbumDiv">
            <input type="checkbox" class="" id="newAlbumCheck" autocomplete="off">
            <label class="" for="newAlbumCheck">Create New Album</label>
          </div>
          <div id="new-album-form" class="m-4" style="background-color: #ffffff; display: none">
              <div class="p-4">
                  <div th:replace="~{dashboard/dash-fragments/media/album-form::album-form-fields}"></div>
              </div>
          </div>
        </div>
        <div class="my-3">
          <label for="mediaType" class="form-label">Media Type</label>
          <select th:field="*{mediaType}" class="form-select" id="mediaType">
            <option th:each="mediatype: ${mediaTypes}" th:value="${mediatype.mediaTypeId}" >[[${mediatype.mediaTypeName}]]</option>
          </select>
        </div>
<!--        <div class="my-3">-->
<!--          <label for="mediaPath" class="h3 form-label mb-3">Media File</label>-->
<!--          <input id="mediaPath" name="mediaPath" type="file" class="form-control">-->
<!--        </div>-->
        <div class="my-3">
          <label for="mediaPaths" class="h3 form-label mb-3">Media Files</label>
          <input id="mediaPaths" name="mediaPaths" type="file" class="form-control" multiple required>
        </div>
          <div class="my-3">
              <label for="mediaName" class="h3 form-label mb-3">Media Name</label>
              <input id="mediaName" th:field="*{mediaName}" type="text" class="form-control" maxlength="100">
          </div>
<!--        <input type="hidden" th:field="*{uploadTime}">-->
          <div>
            <input class="success-button" type="submit" value="Save" />
          </div>
        </div>
        <script th:src="@{/js/media.js}"></script>
    </form>
  </div>
</body>
</html>