<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Media Form</title>
</head>
<body>
  <div th:fragment="media-form">
      <h3>Add New Media</h3>
    <form th:action="@{/medias/form}" th:object="${media}" method="POST" enctype="multipart/form-data">
      <div class="row g-3 width-md-75">
        <div class="my-3">
          <div th:if="${forAlbumId == 0}"  class="my-3">
            <label for="existingAlbums" class="form-label">Album</label>
            <select th:field="*{album}" class="form-select" id="existingAlbums">
              <option value="0">...Select album...</option>
                <option th:each="album : ${albums}"
                        th:value="${album.albumId}"
                        th:text="${album.albumName}">
                </option>
            </select>
              <div th:if="${#fields.hasErrors('album')}">
                  <p th:errors="*{album}" class="error"></p>
              </div>
              <div class="mt-3" id="newAlbumDiv">
                  <input type="checkbox" class="" id="newAlbumCheck" autocomplete="off">
                  <label class="" for="newAlbumCheck">Create New Album</label>
              </div>
          </div>

            <input th:if="${forAlbumId > 0}" type="hidden" name="album" th:value="${forAlbumId}">

          <div id="new-album-form" class="m-4" style="background-color: #ffffff; display: none">
              <div class="p-4">
                  <div th:replace="~{dashboard/dash-fragments/media/album-form::album-form-fields}"></div>
              </div>
          </div>
        </div>
          <div class="mb-3">
              <select th:field="*{mediaType}" class="form-select">
                  <option value="Image">Image</option>
                  <option value="Video">Video</option>
              </select>
          </div>
        <div class="my-3">
          <label for="mediaPaths" class="h3 form-label mb-3">Media Files (videos or images only)</label>
          <input id="mediaPaths" name="mediaPaths" type="file" class="form-control" multiple required accept="image/jpeg, image/png, image/gif, image/bmp, image/webp, image/svg+xml, image/tiff, image/x-icon, video/mp4, video/x-msvideo, video/quicktime, video/webm, video/x-matroska, video/x-flv, video/x-ms-wmv">
        </div>
          <div class="my-3">
              <label for="mediaName" class="h3 form-label mb-3">Media Name</label>
              <input id="mediaName" th:field="*{mediaName}" type="text" class="form-control" maxlength="100">
<!--          </div>-->
<!--            <input type="hidden" name="returnUrl" th:value="${currentUrl}">-->
<!--          <div>-->
            <div class="mt-3">
                <input class="success-button" type="submit" value="Save" />
            </div>
          </div>
        </div>
        <script th:src="@{/js/media.js}"></script>
    </form>
  </div>
</body>
</html>