<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Payment Details</title>
</head>
<body>
    <div th:fragment="order-payment-detail">
        <h1>Order Payment Details</h1>
        <p><strong>ID:</strong> <span th:text="${orderPayment.orderPaymentId}"></span></p>
        <p><strong>Order ID:</strong> <a th:href="@{'/dashboard/orders/detail/'+${orderPayment.order?.orderId}}"> [[${orderPayment.order?.orderId}]]</a></span></p>
        <p><strong>User:</strong> <span th:text="${orderPayment.user?.username}"></span></p>
        <p><strong>Amount:</strong> <span th:text="${orderPayment.amount}"></span></p>
        <p><strong>Payment Method:</strong> <span th:text="${orderPayment.paymentMethod}"></span></p>
        <p><strong>Status:</strong> <span th:text="${orderPayment.status}"></span></p>
        <p><strong>Session ID:</strong> <span th:text="${orderPayment.sessionId}"></span></p>
        <p><strong>Created At:</strong> <span th:text="${orderPayment.createdAt?.format(@dateTimeFormatter)}"></span></p>
        <a th:href="@{/dashboard/orders/payments/edit/form/{id}(id=${orderPayment?.orderPaymentId})}" class="warning-button">Edit</a>
        <a th:href="@{/dashboard/orders/payments}" class="success-button">Back to List</a>
    </div>
</body>
</html>
