<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #ff0000;
        }
    </style>
</head>
<body>
<h1>Oops! Something went wrong.</h1>
<p th:text="'Error: ' + ${status}"></p>
<p th:text="'Error Message: ' + ${message}" style="font-weight: bold; font-style: italic;"></p>
<!--<p th:text="'Path: ' + ${path}"></p>-->
<p th:text="'Timestamp: ' + ${timestamp}"></p>
<p>Please contact support or try again later.</p>
</body>
</html>
