<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link th:rel="stylesheet" type="text/css" image="all" th:href="@{/css/login.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <link th:rel="stylesheet" th:href="@{/css/theme.css}">
    <style>
        body{
            background: url([[${'/media/holy_trinity_2.svg'}]]);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
    <title>Password Reset Link Error</title>
</head>
<body>
<div class="row vh-100 justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-6">
        <div class="card p-5 text-danger" style="opacity: 0.9 !important;">
            <div class="text-end">
                <a href="/" class="text-success fw-bold mb-3">Home</a>
            </div>
            <h5 th:text="${error}"></h5>
            <a href="/users/password/link/request/form" class="text-success mt-4 fw-bold">Resend Link</a>
        </div>
    </div>
</div>
</body>
</html>