<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Landing Page</title>
</head>
<body>
    <main layout:fragment="content">
        <p th:if="${param.logout}">You successfully logged out!</p>
        Landing Page
    </main>
</body>
</html>