<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link th:rel="stylesheet" type="text/css" image="all" th:href="@{/css/login.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
    <style>
        .login-container {
            max-width: 400px;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        body {
            background-color: #f5f5f5;
        }

        @media (max-width: 576px) {
            .login-container {
                width: 100%;
                padding: 15px;
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="login-container">
                <h2 class="text-center">Login</h2>
                <form method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <div class="mt-3 text-center">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="mt-2 text-center">
                    <p>Don't have an account? <a th:href="@{/users/register}">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
