<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    body{
        background: url([[${'/media/holy_trinity_2.svg'}]]);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
</head>
<body>
  <div th:fragment="password-reset-form" class="col-md-8 card">
    <div class="card-body" style="opacity: 0.9 !important;">
      <h5>Reset Your Password</h5>
      <form th:action="@{/users/password/reset}" th:object="${resetPasswordDto}" method="POST">

        <div class="">
          <p th:if="${error}" class="text-danger h5" th:text="${error}"></p>
          <p th:if="${error}" class="text-success h5" th:text="${message}"></p>
          <div class="row mb-3">
            <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
            <div class="col-md-8 col-lg-9">
              <input th:field="*{currentPassword}" type="password" class="form-control" id="currentPassword">
              <div th:if="${#fields.hasErrors('currentPassword')}" class="text-danger">
                <p th:errors="${resetPasswordDto.currentPassword}"></p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
            <div class="col-md-8 col-lg-9">
              <input th:field="*{newPassword}" type="password" class="form-control" id="newPassword">
              <div th:if="${#fields.hasErrors('newPassword')}" class="text-danger">
                <p th:errors="${resetPasswordDto.newPassword}"></p>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
            <div class="col-md-8 col-lg-9">
              <input th:field="*{newPasswordConfirm}" type="password" class="form-control" id="renewPassword">
              <div th:if="${#fields.hasErrors('newPasswordConfirm')}" class="text-danger">
                <p th:errors="${resetPasswordDto.newPasswordConfirm}"></p>
              </div>
            </div>
          </div>

          <div class="text-center d-flex justify-content-end">
            <button type="submit" class="warning-button">Change Password</button>
          </div>
        </div>
      </form><!-- End Change Password Form -->
    </div>
  </div>
</body>
</html>