<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="profile-edit-form">
    <script src="https://cdn.tiny.cloud/1/tx94asea6cunx78nxu2dgapd5tjf41gmf59qtn6ftmhzraop/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Profile Edit Form -->
    <form th:action="@{/users/profile/edit/process}" th:object="${userProfile}" method="POST" enctype="multipart/form-data">
      <div class="form-group mt-5 bg-smoke p-5 rounded-3" id="profileForm">
        <input type="hidden" th:field="*{userProfileId}">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="Enter your first name" >
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Enter your last name" >
        </div>
        <div class="mb-3">
          <label for="christianName" class="form-label">Christian Name</label>
          <input type="text" class="form-control" th:field="*{christianName}" id="christianName" placeholder="Enter your christian name">
        </div>
        <div class="mb-3">
          <label for="spiritualFatherName" class="form-label">Spiritual Father Name</label>
          <input type="text" class="form-control" th:field="*{spiritualFatherName}" id="spiritualFatherName" placeholder="Enter your spiritual father name">
        </div>
        <div>
          <label for="gender" class="form-label">Gender</label>
          <select class="form-control" th:field="*{gender}" id="gender">
            <option value="">--Gender--</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
          </select>
        </div>
        <!-- Phone -->
        <div class="form-group mb-3">
          <label for="phone">Phone Number</label>
          <input type="text" th:field="*{phoneNumber}"  id="phone" class="form-control" placeholder="Enter your phone number">
        </div>

        <!-- Date of Birth -->
        <div class="form-group mb-3">
          <label for="dob">Date of Birth</label>
          <input type="date" th:field="*{dob}" id="dob" class="form-control" placeholder="Date of birth">
        </div>

        <!-- Description -->
        <div class="form-group mb-3">
          <label for="tiny">Biography</label>
          <textarea id="tiny" th:field="*{biography}" class="form-control" rows="3" placeholder="Tell us about yourself"></textarea>
        </div>

        <!-- Profile Photo -->
        <div class="form-group mb-3">
          <label for="profilePhoto">Profile Photo</label>
          <input type="file" id="profilePhoto" name="userProfilePhotoBlob" class="form-control-file" placeholder="Upload your photo" accept="image/*">
        </div>
      </div>

      <div class="text-center pt-3">
        <button type="submit" class="success-button">Save Changes</button>
      </div>
    </form><!-- End Profile Edit Form -->
    <script th:src="@{/js/tinymce-config.js}"></script>

  </div>

</body>
</html>