<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Church Setup</title>
</head>
    <body>
        <div th:fragment="church-setup">
            <div class="shadow bg-body rounded p-4 org-setup-form">
                <p class="h3">Register your church here.</p>
                <p class="h5">You can have only one church at once.</p>
                <form th:action="@{ ${churchDetail == null} ? '/dashboard/church/processSetup' : '/dashboard/church/processUpdate'}" th:object="${churchDetail}" method="POST" enctype="multipart/form-data">

                    <input th:if="${churchDetail != null}" th:field="*{church.churchId}" type="hidden">
                    <div class="mb-3">
                        <label for="orgname" class="form-label">church Name</label>
                        <input th:field="*{church.churchName}" type="text" class="form-control" id="orgname">
                    </div>
                    <div class="mb-3">
                        <label for="orgdesc" class="form-label">Description</label>
                        <textarea th:field="*{church.churchDescription}" class="form-control" id="orgdesc" rows="3"></textarea>

                    </div>
                    <div class="mb-3">
                        <label for="orglogo" class="form-label">church Logo</label>
                        <input name="logo" type="file" class="form-control" id="orglogo">
                    </div>

                    <div>
                        <h3 class="my-3">Address</h3>
                        <div th:replace="~{dashboard/dash-fragments/address-form::address-form}"></div>
                    </div>

                    <div class="my-3">
                        <div class="mb-3">
                            <p class="h3">Add Contacts</p>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-6 col-sm-12">
                                <label for="whatsapp" class="form-label">Whats App Number</label>
                                <input th:field="*{church.whatsApp}" type="text" class="form-control" id="whatsapp">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="telegram" class="form-label">Telegram</label>
                                <input th:field="*{church.telegram}" type="text" class="form-control" id="telegram">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="youtube" class="form-label">Youtube URL</label>
                                <input th:field="*{church.youtube}" type="text" class="form-control" id="youtube">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="facebook" class="form-label">Facebook</label>
                                <input th:field="*{church.facebook}" type="text" class="form-control" id="facebook">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="tiktok" class="form-label">Tiktok</label>
                                <input th:field="*{church.tiktok}" type="text" class="form-control" id="tiktok">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="xaccount" class="form-label">X (Twitter) Account</label>
                                <input th:field="*{church.xAccount}" type="text" class="form-control" id="xaccount">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="googlePlus" class="form-label">Google+ Account</label>
                                <input th:field="*{church.googlePlus}" type="text" class="form-control" id="googlePlus">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="pinterest" class="form-label">Pinterest</label>
                                <input th:field="*{church.pInterest}" type="text" class="form-control" id="pinterest">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="linkedin" class="form-label">LinkedIn</label>
                                <input th:field="*{church.linkedIn}" type="text" class="form-control" id="linkedin">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="reddit" class="form-label">Reddit</label>
                                <input th:field="*{church.reddit}" type="text" class="form-control" id="reddit">
                            </div>
                            <div class="mb-3 mb-3 col-md-6 col-sm-12">
                                <label for="email" class="form-label">Email</label>
                                <input th:field="*{church.email}" type="text" class="form-control" id="email">
                            </div>
                        </div>
                    </div>
                    <div th:if="${churchDetail == null}" class="mt-3">
                        <h3>Add display banners</h3>
                        <h5>You can add more than one banner</h5>
                        <div>
                            <label for="orgbanner" class="form-label">Church Banners</label>
                            <input name="bannerFiles" type="file" class="form-control" multiple id="orgbanner">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>