<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Sidebar -->
<div th:fragment="dash-sidebar">
  <div class="sidebar" data-background-color="blue">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="blue">
        <a th:href="@{/}" class="logo">
          <img
                  src="assets/img/kaiadmin/logo_light.svg"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="20"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button> 
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a data-bs-toggle="collapse" th:href="@{/dashboard/home}" class="collapsed" aria-expanded="false">
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
              <span class="caret"></span>
            </a>
          </li>
          <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
            <h4 class="text-section">Menu</h4>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#organization">
              <i class="fas fa-building"></i>
              <p>Organization</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="organization">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/organisation/setup}">
                    <span class="sub-item">Setup</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/organisation/detail}">
                    <span class="sub-item">View</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a href="#">
              <i class="fas fa-file"></i>
              <p>Services</p>
            </a>
          </li>

          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#events">
              <i class="fas fa-calendar-days"></i>
              <p>Events</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="events">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/events/add}">
                    <span class="sub-item">Add New Event</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/events/list}">
                    <span class="sub-item">Events</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#sidebarLayouts">
              <i class="fas fa-book"></i>
              <p>Blogs</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="sidebarLayouts">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/blogs/form}">
                    <span class="sub-item">New Blog</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/blogs}">
                    <span class="sub-item">Blogs</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/blogs/categories/addBlogCategoryForm}">
                    <span class="sub-item">New Blog Category</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/blogs/categories}">
                    <span class="sub-item">Blog Categories</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
<!--          <li class="nav-item">-->
<!--            <a data-bs-toggle="collapse" href="#forms">-->
<!--              <i class="fas fa-pen-square"></i>-->
<!--              <p>News</p>-->
<!--              <span class="caret"></span>-->
<!--            </a>-->
<!--            <div class="collapse" id="forms">-->
<!--              <ul class="nav nav-collapse">-->
<!--                <li>-->
<!--                  <a href="forms/forms.html">-->
<!--                    <span class="sub-item">Add News</span>-->
<!--                  </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="forms/forms.html">-->
<!--                    <span class="sub-item">Manage</span>-->
<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </li>-->
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#tables">
              <i class="fas fa-table"></i>
              <p>Media Center</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/medias/form}">
                    <span class="sub-item">New Image/Video</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/medias/albums}">
                    <span class="sub-item">Albums</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/medias/albums/new}">
                    <span class="sub-item">New Album</span>
                  </a>
                </li>

              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#attachments">
              <i class="fas fa-table"></i>
              <p>Attachments</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="attachments">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/medias/attachments/form}">
                    <span class="sub-item">New attachments</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/medias/attachments?sortBy=attachmentTime}">
                    <span class="sub-item">Attachments List</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#maps">
              <i class="fas fa-map-marker-alt"></i>
              <p>Donations</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="maps">
              <ul class="nav nav-collapse">
                <li>
                  <a href="maps/googlemaps.html">
                    <span class="sub-item">Setup New Donation</span>
                  </a>
                </li>
                <li>
                  <a href="maps/jsvectormap.html">
                    <span class="sub-item">Manage</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#landingContent">
              <i class="fas fa-map-marker-alt"></i>
              <p>Landing Content</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="landingContent">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/landing-contents/form}">
                    <span class="sub-item">New Content</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/landing-contents}">
                    <span class="sub-item">Landing Content List</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#news">
              <i class="fas fa-map-marker-alt"></i>
              <p>News Center</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="news">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/news/form}">
                    <span class="sub-item">Add News</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/news}">
                    <span class="sub-item">News List</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a data-bs-toggle="collapse" href="#mem">
              <i class="fas fa-map-marker-alt"></i>
              <p>Memberships</p>
              <span class="caret"></span>
            </a>
            <div class="collapse" id="mem">
              <ul class="nav nav-collapse">
                <li>
                  <a th:href="@{/dashboard/memberships/form}">
                    <span class="sub-item">New Member</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/memberships}">
                    <span class="sub-item">Members List</span>
                  </a>
                </li>

                <li>
                  <a th:href="@{/dashboard/memberships/categories/form}">
                    <span class="sub-item">New Member Category</span>
                  </a>
                </li>
                <li>
                  <a th:href="@{/dashboard/memberships/categories}">
                    <span class="sub-item">Member Category List</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a href="#">
              <i class="fas fa-file"></i>
              <p>School</p>
              <span class="badge badge-secondary">1</span>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a data-bs-toggle="collapse" href="#submenu">-->
<!--              <i class="fas fa-bars"></i>-->
<!--              <p>Attachment</p>-->
<!--              <span class="caret"></span>-->
<!--            </a>-->
<!--            <div class="collapse" id="submenu">-->
<!--              <ul class="nav nav-collapse">-->
<!--                <li>-->
<!--                  <a data-bs-toggle="collapse" href="#subnav1">-->
<!--                    <span class="sub-item">List</span>-->
<!--                    <span class="caret"></span>-->
<!--                  </a>-->
<!--                  <div class="collapse" id="subnav1">-->
<!--                    <ul class="nav nav-collapse subnav">-->
<!--                      <li>-->
<!--                        <a href="#">-->
<!--                          <span class="sub-item">New Attachment</span>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a data-bs-toggle="collapse" href="#subnav2">-->
<!--                    <span class="sub-item">Level 1</span>-->
<!--                    <span class="caret"></span>-->
<!--                  </a>-->
<!--                  <div class="collapse" id="subnav2">-->
<!--                    <ul class="nav nav-collapse subnav">-->
<!--                      <li>-->
<!--                        <a href="#">-->
<!--                          <span class="sub-item">Level 2</span>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="#">-->
<!--                    <span class="sub-item">Level 1</span>-->
<!--                  </a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
</body>

</html>