<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{dashboard/dash-layouts/dash-base}">
<body>
  <div th:fragment="main-panel">
    <div class="main-panel">
<!--      <header th:replace="~{dashboard/dash-fragments/dash-header::dash-header}"></header>-->

      <div class="container">
        <div class="page-inner">
          <main th:if="${activeDashPage == 'dash-landing'}">
            <div th:replace="~{dashboard/dash-fragments/dash-landing::dash-landing}"></div>
          </main>
<!--          <main th:if="${activeDashPage == 'dash-landing'}" th:replace="~{dashboard/dash-fragments/dash-landing::dash-landing}"></main>-->
          <main th:if="${activeDashPage == 'messages'}">
            <div th:replace="~{dashboard/dash-fragments/messages::messages}"></div>
          </main>
          <main th:if="${activeDashPage == 'events'}">
            <div th:replace="~{dashboard/dash-fragments/events::events}"></div>
          </main>
          <main th:if="${activeDashPage == 'church-setup'}">
            <div th:replace="~{dashboard/dash-fragments/church-setup::church-setup}"></div>
          </main>
          <main th:if="${activeDashPage == 'church-exist'}">
            <div th:replace="~{dashboard/dash-fragments/church-exist-error-page::church-exist}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-detail'}">
            <div th:replace="~{dashboard/dash-fragments/church-detail-page::church-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-not-exist'}">
            <div th:replace="~{dashboard/dash-fragments/church-not-exist-page::church-not-exist}"></div>
          </main>
          <main th:if="${activeDashPage == 'address'}">
            <div th:replace="~{dashboard/dash-fragments/address-form::address-form}"></div>
          </main>
          <main th:if="${activeDashPage == 'updateAddress'}">
            <div th:replace="~{dashboard/dash-fragments/address-form-for-update::address-form-for-update}"></div>
          </main>
          <main th:if="${activeDashPage == 'churchBanner'}">
            <div th:replace="~{dashboard/dash-fragments/church-banner-form::church-banner}"></div>
          </main>

          <!-- EVENT PAGES-->
          <main th:if="${activeDashPage == 'eventRegistrationForm'}">
            <div th:replace="~{dashboard/dash-fragments/events/event-registration-form::event-registration-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'eventsList'}">
            <div th:replace="~{dashboard/dash-fragments/events/events-list::events-timeline}"></div>
          </main>
          <main th:if="${activeDashPage == 'eventDetail'}">
            <div th:replace="~{dashboard/dash-fragments/events/event-detail::event-detail}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-form'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-form::blog-category-form}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-list'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-list::blog-category-list}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-detail'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-detail::blog-category-detail}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-form'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-form::blog-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'blogs-list'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blogs-list::blogs-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'blog-detail'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-detail::blog-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'image-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/image-form::image-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'album-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/album-form::album-form}"></div>
          </main>

<!--          <main th:if="${activeDashPage == 'image-links-list'}">-->
<!--            <div th:replace="~{dashboard/dash-fragments/blogs/image-links-list::image-links-list}"></div>-->
<!--          </main>-->

          <main th:if="${activeDashPage == 'albums-list'}">
            <div th:replace="~{dashboard/dash-fragments/image/albums-list::albums-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'album-detail'}">
            <div th:replace="~{dashboard/dash-fragments/image/album-detail::album-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'attachment-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/attachment-form::attachment-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'attachments-list'}">
            <div th:replace="~{dashboard/dash-fragments/image/attachments-list::attachments-list}"></div>
          </main>

          <!--    ========== VIDEO ================ --->
          <main th:if="${activeDashPage == 'video-form'}">
            <div th:replace="~{dashboard/dash-fragments/video/video-form::video-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'videos-list'}">
            <div th:replace="~{dashboard/dash-fragments/video/videos-list::videos-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'video-view'}">
            <div th:replace="~{dashboard/dash-fragments/video/video-view::video-view}"></div>
          </main>

          <!-- ======= INFORMATION ================= -->
          <main th:if="${activeDashPage == 'landing-content-form'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-form::landing-content-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'landing-content-list'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-list::landing-content-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'landing-content-detail'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-detail::landing-content-detail}"></div>
          </main>

        <!-- ============== NEWS ==================== -->
          <main th:if="${activeDashPage == 'news-form'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-form::news-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'news-list'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-list::news-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'news-detail'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-detail::news-detail}"></div>
          </main>

         <!-- ============== MEMBERSHIP =============== -->

          <main th:if="${activeDashPage == 'membership-amount-form'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-amount-form::membership-amount-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'membership-amounts-list'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-amounts-list::membership-amounts-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'member-form'}">
            <div th:replace="~{dashboard/dash-fragments/membership/member-form::member-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'members-list'}">
            <div th:replace="~{dashboard/dash-fragments/membership/members-list::members-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'member-detail'}">
            <div th:replace="~{dashboard/dash-fragments/membership/member-detail::member-detail}"></div>
          </main>

          <!-- ============== SERVICE ==================== -->
          <main th:if="${activeDashPage == 'service-form'}">
            <div th:replace="~{dashboard/dash-fragments/services/service-form::service-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'services-list'}">
            <div th:replace="~{dashboard/dash-fragments/services/services-list::services-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'service-detail'}">
            <div th:replace="~{dashboard/dash-fragments/services/service-detail::service-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'baptism-requests-list'}">
            <div th:replace="~{dashboard/dash-fragments/services/baptism-requests-list::baptism-requests-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'baptism-request-detail'}">
            <div th:replace="~{dashboard/dash-fragments/services/baptism-request-detail::baptism-request-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'baptism-request-status-update'}">
            <div th:replace="~{dashboard/dash-fragments/services/baptism-request-status-update::baptism-request-status-update}"></div>
          </main>

          <main th:if="${activeDashPage == 'matrimony-requests-list'}">
            <div th:replace="~{dashboard/dash-fragments/services/matrimony-requests-list::matrimony-requests-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'matrimony-request-detail'}">
            <div th:replace="~{dashboard/dash-fragments/services/matrimony-request-detail::matrimony-request-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'matrimony-request-status-update'}">
            <div th:replace="~{dashboard/dash-fragments/services/matrimony-request-status-update::matrimony-request-status-update}"></div>
          </main>

          <main th:if="${activeDashPage == 'remembrance-requests-list'}">
            <div th:replace="~{dashboard/dash-fragments/services/remembrance-requests-list::remembrance-requests-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'remembrance-request-detail'}">
            <div th:replace="~{dashboard/dash-fragments/services/remembrance-request-detail::remembrance-request-detail}"></div>
          </main>

<!--          ========== PAYMENT METHOD ==============================-->
          <main th:if="${activeDashPage == 'payment-method-form'}">
            <div th:replace="~{dashboard/dash-fragments/payments/payment-method-form::payment-method-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'payment-methods-list'}">
            <div th:replace="~{dashboard/dash-fragments/payments/payment-methods-list::payment-methods-list}"></div>
          </main>


          <!--   ========== CHURCH CONTACTS ==============================-->
          <main th:if="${activeDashPage == 'church-contact-form'}">
            <div th:replace="~{dashboard/dash-fragments/messages/church-contact-form::church-contact-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-contact-detail'}">
            <div th:replace="~{dashboard/dash-fragments/messages/church-contact-detail::church-contact-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-contacts-list'}">
            <div th:replace="~{dashboard/dash-fragments/messages/church-contacts-list::church-contacts-list}"></div>
          </main>

          <!--   ========== NOTIFICATION ==============================-->
          <main th:if="${activeDashPage == 'notification-form'}">
            <div th:replace="~{dashboard/dash-fragments/messages/notification-form::notification-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'notification-detail'}">
            <div th:replace="~{dashboard/dash-fragments/messages/notification-detail::notification-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'notifications-list'}">
            <div th:replace="~{dashboard/dash-fragments/messages/notifications-list::notifications-list}"></div>
          </main>


          <!--   ========== PRODUCT INVENTORY ==============================-->
          <main th:if="${activeDashPage == 'product-category-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-category-form::product-category-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-category-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-category-detail::product-category-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-categories-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-categories-list::product-categories-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-form::product-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-detail::product-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'products-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/products-list::products-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-image-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-image-detail::product-image-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-images-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-images-list::product-images-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'product-image-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/products/product-image-form::product-image-form}"></div>
          </main>

          <!--   ========== ORDERS ==============================-->
          <main th:if="${activeDashPage == 'order-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-detail::order-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'orders-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/orders-list::orders-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'order-item-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-items/order-item-detail::order-item-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'order-edit-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-edit-form::order-edit-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'order-item-edit-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-items/order-item-edit-form::order-item-edit-form}"></div>
          </main>

          <!--   ========== SHIPMENTS ==============================-->
          <main th:if="${activeDashPage == 'shipping-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/shipping/shipping-detail::shipping-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'shippings-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/shipping/shippings-list::shippings-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'shipping-edit-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/shipping/shipping-edit-form::shipping-edit-form}"></div>
          </main>

          <!--   ========== ORDER PAYMENTS ==============================-->
          <main th:if="${activeDashPage == 'order-payment-detail'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-payments/order-payment-detail::order-payment-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'order-payments-list'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-payments/order-payments-list::order-payments-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'order-payment-edit-form'}">
            <div th:replace="~{dashboard/dash-fragments/shopping/orders/order-payments/order-payment-edit-form::order-payment-edit-form}"></div>
          </main>

          <!--   ========== ANNOUNCEMENT ==============================-->
          <main th:if="${activeDashPage == 'announcement-detail'}">
            <div th:replace="~{dashboard/dash-fragments/announcements/announcement-detail::announcement-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'announcement-form'}">
            <div th:replace="~{dashboard/dash-fragments/announcements/announcement-form::announcement-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'announcements-list'}">
            <div th:replace="~{dashboard/dash-fragments/announcements/announcements-list::announcements-list}"></div>
          </main>

          <!--   ========== ABOUT US ==============================-->
          <main th:if="${activeDashPage == 'about-us-detail'}">
            <div th:replace="~{dashboard/dash-fragments/about-us/about-us-detail::about-us-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'about-us-form'}">
            <div th:replace="~{dashboard/dash-fragments/about-us/about-us-form::about-us-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'about-us-list'}">
            <div th:replace="~{dashboard/dash-fragments/about-us/about-us-list::about-us-list}"></div>
          </main>

        </div>
      </div>

<!--      <div th:replace="~{dashboard/dash-fragments/dash-footer::dash-footer}"></div>-->
    </div>
  </div>
</body>
</html>