<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title th:title="${pageTitle}">Church Website Dashboard</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body th:fragment="dashboard-main">


  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center navbar">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center text-decoration-none">
        <img th:src="${churchDetail?.church?.churchLogo}" alt="">
        <span class="d-none d-lg-block">Home</span>
      </a>
      <i class="fa-solid fa-bars toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

<!--    ======================== DASH NAV=================================================================================-->
<!--    <div class="search-bar">-->
<!--      <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--        <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--        <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--      </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown">

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-3" href="#" data-bs-toggle="dropdown">
            <span th:if="${user?.userProfile?.firstName == null}" class="d-block dropdown-toggle ps-2">[[${user?.username}]]</span>
            <span th:if="${user?.userProfile?.firstName != null}" class="d-block dropdown-toggle ps-2">[[${user?.userProfile?.firstName}]]</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="d-md-none">
              <a class="dropdown-item d-flex align-items-center" href="/dashboard/messages">
                Messages
                <span class="ms-3 badge bg-success rounded-pill">[[${unreadMessages?.size()}]]</span>
              </a>
            </li>

            <li class="d-md-none">
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/dashboard/users/profile">
                <i class="fa-solid fa-user"></i>
                <span>Profile</span>
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/users/logout">
                <i class="fa-solid fa-arrow-right"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="d-none d-md-block">
          <a class="nav-link nav-icon" href="/dashboard/messages">
            <i class="fa-solid fa-envelope"></i>
            <span class="badge bg-success badge-number">[[${unreadMessages?.size()}]]</span>
          </a><!-- End Messages Icon -->
        </li>

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

<!--  ============================== END OF DASH NAV ==============================================================-->

  <!-- ================================ SIDE BAR ================================================================== -->
  <aside id="sidebar" class="sidebar" style="max-height: 50em !important">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/dashboard/home">
          <span class="h5">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item xyz">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-church"></i>
          <span>The Church</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/church/setup}">
              <span class="sub-item">Setup</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/church/detail}">
              <span class="sub-item">Church Data</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/aboutUs/list}">
              <span class="sub-item">About Us</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/announcements}">
              <span class="sub-item">Announcements</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/notifications}">
              <span class="sub-item">Notifications</span>
            </a>
          </li>

          <li>
            <a th:href="@{/dashboard/messages}">
              <span class="sub-item">Messages</span>
            </a>
          </li>

          <li>
            <a th:href="@{/dashboard/church-contacts}">
              <span class="sub-item">Church Contacts</span>
            </a>
          </li>
        </ul>
      </li><!-- End Church Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Services</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/services/form}">
              <span class="sub-item">New Service</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/services}">
              <span class="sub-item">Services</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/services/baptism/requests}">
              <span class="sub-item">Baptism Requests</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/services/matrimony/requests}">
              <span class="sub-item">Matrimony Requests</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/services/remembrance/requests}">
              <span class="sub-item">Remembrance Requests</span>
            </a>
          </li>
        </ul>
      </li><!-- End Of Services Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span>Events</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/events/add}">
              <span class="sub-item">Add New Event</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/events/list}">
              <span class="sub-item">Events</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ================================= End of EVENT Nav ==============================-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-book-open"></i><span>Blogs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/blogs/form}">
              <span class="sub-item">New Blog</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/blogs}">
              <span class="sub-item">Blogs</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/blogs/categories/addBlogCategoryForm}">
              <span class="sub-item">New Blog Category</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/blogs/categories}">
              <span class="sub-item">Blog Categories</span>
            </a>
          </li>
        </ul>
      </li>
      <!--=========================== End Blog Nav================================== -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#media-nav" data-bs-toggle="collapse" href="#">
          <i class="fas fa-photo-video"></i><span>Media Centre</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="media-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#images-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-image"></i><span>Images Centre</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="images-nav" class="nav-content collapse" data-bs-parent="#media-nav">
              <li>
                <a th:href="@{/images/form}">
                  <span class="sub-item">New Image</span>
                </a>
              </li>
              <li>
                <a th:href="@{/images/albums}">
                  <span class="sub-item">Albums</span>
                </a>
              </li>
              <li>
                <a th:href="@{/images/albums/list}">
                  <span class="sub-item">Albums Table</span>
                </a>
              </li>
              <li>
                <a th:href="@{/images/albums/form}">
                  <span class="sub-item">New Album</span>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#video-nav" data-bs-toggle="collapse" href="#">
              <i class="fa-solid fa-play"></i><span>Video Centre</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="video-nav" class="nav-content collapse bg-light" data-bs-parent="#media-nav">
              <li>
                <a th:href="@{/videos/form}">
                  <span class="sub-sub-item">New Video</span>
                </a>
              </li>
              <li>
                <a th:href="@{/videos}">
                  <span class="sub-sub-item">Videos</span>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#atta-nav" data-bs-toggle="collapse" href="#">
              <i class="fa fa-paperclip" aria-hidden="true"></i><span>Attachments Centre</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="atta-nav" class="nav-content collapse bg-light" data-bs-parent="#media-nav">
              <li>
                <a th:href="@{/medias/attachments/form}">
                  <span class="sub-item">New attachments</span>
                </a>
              </li>
              <li>
                <a th:href="@{/medias/attachments?sortBy=attachmentTime}">
                  <span class="sub-item">Attachments List</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

<!--      ============================================= END OF MEDIA CENTER =========================-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#land-nav" data-bs-toggle="collapse" href="#">
          <i class="fa fa-home" aria-hidden="true"></i><span>Landing Page Content</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="land-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/landing-contents/form}">
              <span class="sub-item">New Landing Content</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/landing-contents}">
              <span class="sub-item">Landing Contents</span>
            </a>
          </li>
        </ul>
      </li>
      <!--  =============================END OF LANDING CONTENT ========================-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#news-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-newspaper"></i><span>News Centre</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="news-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/news/form}">
              <span class="sub-item">Add News</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/news}">
              <span class="sub-item">News List</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ========================================END OF NEWS CONTENT ========================-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#mem-nav" data-bs-toggle="collapse" href="#">
          <i class="fas fa-user-plus"></i><span>Membership</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="mem-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/members}">
              <span class="sub-item">Memberships</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/members/membership-amounts}">
              <span class="sub-item">Membership Amounts</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ========================================END OF MEMBERSHIP  ========================-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#shop-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-store"></i><span>Shopping Centre</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="shop-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/products/categories}">
              <span class="sub-item">Product Categories</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/products}">
              <span class="sub-item">Products</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/orders}">
              <span class="sub-item">Orders</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/orders/payments}">
              <span class="sub-item">Payments</span>
            </a>
          </li>

          <li>
            <a th:href="@{/dashboard/orders/shippings}">
              <span class="sub-item">Shipments</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- ========================================END OF SHOPPING CENTER  ========================-->

      <!-- ========================================END OF NEWS CONTENT ========================-->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#don-nav" data-bs-toggle="collapse" href="#">
          <i class="fa-solid fa-hand-holding-heart"></i><span>Donations</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="don-nav" class="nav-content collapse bg-light" data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/dashboard/donations/purposes}">
              <span class="sub-item">Donation Purposes</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dashboard/donations}">
              <span class="sub-item">Donations</span>
            </a>
          </li>
        </ul>
      </li>




      <li class="nav-heading">Pages</li>

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" th:href="@{/dashboard/payment-methods}">-->
<!--          <i class="bi bi-person"></i>-->
<!--          <span>Payment Methods</span>-->
<!--        </a>-->
<!--      </li>&lt;!&ndash; End Payment Method Page Nav &ndash;&gt;-->


      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard/messages">
          <i class="bi bi-envelope"></i>
          <span>Messages </span>
        </a>
      </li><!-- End Contact Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard/users/profile">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard/users">
          <i class="fa-solid fa-user"></i>
          <span>Users</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard/settings">
          <i class="bi bi-gear"></i>
          <span>Settings</span>
        </a>
      </li>

    </ul>
  </aside>
  <!-- ========================================= End of Sidebar ============================================= -->

  <main id="main" class="main bg-smoke" th:style="'background-image: url(' + @{/media/st_maryam.svg} + ') !important;'">
    <div class="card" style="background-color: rgba(255, 255, 255, 0.9) !important;">
      <div class="card-body">
        <section class="section dashboard" style="min-height: 40em !important;">
          <div th:replace="~{dashboard/dash-fragments/dash-main-panel::main-panel}"></div>
        </section>
      </div>
    </div>

    <div class="mt-5" style="background-color: #FAF9F6 !important;">
      <div th:replace="~{dashboard/dash-fragments/dash-footer::dash-footer}"></div>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
<!--  <footer id="footer" class="footer" style="position: relative important; bottom: 0 important; left: 0 important; height: 100px important;">-->
<!--    <div class="copyright">-->
<!--      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved-->
<!--    </div>-->
<!--    <div class="credits">-->
<!--      &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
<!--      &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
<!--      &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
<!--      &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ &ndash;&gt;-->
<!--      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--    </div>-->
<!--  </footer>&lt;!&ndash; End Footer &ndash;&gt;-->



</body>

</html>