<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{dashboard/dash-layouts/dash-base}">
<body>
  <div th:fragment="main-panel">
    <div class="main-panel">
      <header th:replace="~{dashboard/dash-fragments/dash-header::dash-header}"></header>

      <div class="container">
        <div class="page-inner">
          <main th:if="${activeDashPage == 'dash-landing'}">
            <div th:replace="~{dashboard/dash-fragments/dash-landing::dash-landing}"></div>
          </main>
<!--          <main th:if="${activeDashPage == 'dash-landing'}" th:replace="~{dashboard/dash-fragments/dash-landing::dash-landing}"></main>-->
          <main th:if="${activeDashPage == 'messages'}">
            <div th:replace="~{dashboard/dash-fragments/messages::messages}"></div>
          </main>
          <main th:if="${activeDashPage == 'events'}">
            <div th:replace="~{dashboard/dash-fragments/events::events}"></div>
          </main>
          <main th:if="${activeDashPage == 'church-setup'}">
            <div th:replace="~{dashboard/dash-fragments/church-setup::church-setup}"></div>
          </main>
          <main th:if="${activeDashPage == 'church-exist'}">
            <div th:replace="~{dashboard/dash-fragments/church-exist-error-page::church-exist}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-detail'}">
            <div th:replace="~{dashboard/dash-fragments/church-detail-page::church-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'church-not-exist'}">
            <div th:replace="~{dashboard/dash-fragments/church-not-exist-page::church-not-exist}"></div>
          </main>
          <main th:if="${activeDashPage == 'address'}">
            <div th:replace="~{dashboard/dash-fragments/address-form::address-form}"></div>
          </main>
          <main th:if="${activeDashPage == 'updateAddress'}">
            <div th:replace="~{dashboard/dash-fragments/address-form-for-update::address-form-for-update}"></div>
          </main>
          <main th:if="${activeDashPage == 'churchBanner'}">
            <div th:replace="~{dashboard/dash-fragments/church-banner-form::church-banner}"></div>
          </main>

          <!-- EVENT PAGES-->
          <main th:if="${activeDashPage == 'eventRegistrationForm'}">
            <div th:replace="~{dashboard/dash-fragments/events/event-registration-form::event-registration-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'eventsList'}">
            <div th:replace="~{dashboard/dash-fragments/events/events-list::events-timeline}"></div>
          </main>
          <main th:if="${activeDashPage == 'eventDetail'}">
            <div th:replace="~{dashboard/dash-fragments/events/event-detail::event-detail}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-form'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-form::blog-category-form}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-list'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-list::blog-category-list}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-category-detail'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-category-detail::blog-category-detail}"></div>
          </main>
          <main th:if="${activeDashPage == 'blog-form'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-form::blog-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'blogs-list'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blogs-list::blogs-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'blog-detail'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/blog-detail::blog-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'image-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/image-form::image-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'album-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/album-form::album-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'image-links-list'}">
            <div th:replace="~{dashboard/dash-fragments/blogs/image-links-list::image-links-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'albums-list'}">
            <div th:replace="~{dashboard/dash-fragments/image/albums-list::albums-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'album-detail'}">
            <div th:replace="~{dashboard/dash-fragments/image/album-detail::album-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'attachment-form'}">
            <div th:replace="~{dashboard/dash-fragments/image/attachment-form::attachment-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'attachments-list'}">
            <div th:replace="~{dashboard/dash-fragments/image/attachments-list::attachments-list}"></div>
          </main>

          <!--    ========== VIDEO ================ --->
          <main th:if="${activeDashPage == 'video-form'}">
            <div th:replace="~{dashboard/dash-fragments/video/video-form::video-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'videos-list'}">
            <div th:replace="~{dashboard/dash-fragments/video/videos-list::videos-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'video-view'}">
            <div th:replace="~{dashboard/dash-fragments/video/video-view::video-view}"></div>
          </main>

          <!-- ======= INFORMATION ================= -->
          <main th:if="${activeDashPage == 'landing-content-form'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-form::landing-content-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'landing-content-list'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-list::landing-content-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'landing-content-detail'}">
            <div th:replace="~{dashboard/dash-fragments/landing-content/landing-content-detail::landing-content-detail}"></div>
          </main>

        <!-- ============== NEWS ==================== -->
          <main th:if="${activeDashPage == 'news-form'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-form::news-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'news-list'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-list::news-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'news-detail'}">
            <div th:replace="~{dashboard/dash-fragments/news/news-detail::news-detail}"></div>
          </main>

         <!-- ============== MEMBERSHIP =============== -->

          <main th:if="${activeDashPage == 'memberships-category-form'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-category-form::memberships-category-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'memberships-category-list'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-category-list::memberships-category-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'memberships-category-detail'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-category-detail::memberships-category-detail}"></div>
          </main>

          <main th:if="${activeDashPage == 'membership-form'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-form::membership-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'membership-list'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-list::membership-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'membership-detail'}">
            <div th:replace="~{dashboard/dash-fragments/membership/membership-detail::membership-detail}"></div>
          </main>

          <!-- ============== SERVICE ==================== -->
          <main th:if="${activeDashPage == 'service-form'}">
            <div th:replace="~{dashboard/dash-fragments/services/service-form::service-form}"></div>
          </main>

          <main th:if="${activeDashPage == 'services-list'}">
            <div th:replace="~{dashboard/dash-fragments/services/services-list::services-list}"></div>
          </main>

          <main th:if="${activeDashPage == 'service-detail'}">
            <div th:replace="~{dashboard/dash-fragments/services/service-detail::service-detail}"></div>
          </main>
        </div>
      </div>

      <div th:replace="~{dashboard/dash-fragments/dash-footer::dash-footer}"></div>
    </div>
  </div>
</body>
</html>