<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisation Already Exist</title>
</head>
<body>
    <div th:fragment="organisation-exist">
        <p class="h3">Organisation already exists. You can only setup one organisation.</p>
        <p class="h5">You can <span><a href="" class="text-primary text-decoration-underline">update</a></span> your organisation or <span><a href="" class="text-primary text-decoration-underline">delete</a></span> it and recreate it.</p>
    </div>
</body>
</html>