<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events-timeline.css}">
</head>
<body>
  <div th:fragment="events-timeline">


      <div class="d-flex justify-content-md-end px-md-4 ">
        <button class="success-button" th:onclick="|window.location='@{/dashboard/events/add}'|">Add New Event</button>
      </div>
      <div class="row d-flex justify-content-center mt-70 mb-70">
          <div class="col-md-6">
              <div class="main-card mb-3 card">
                  <div class="card-body">
                      <h5 class="card-title">Events</h5>
                      <div th:each="event: ${events}" class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">

                          <div class="vertical-timeline-item vertical-timeline-element">
                              <div>
                                <span class="vertical-timeline-element-icon bounce-in">
                                    <i class="badge badge-dot badge-dot-xl badge-success"></i>
                                </span>
                                  <div class="vertical-timeline-element-content bounce-in">
                                      <h4 class="timeline-title">[[${event.eventTitle}]]</h4>
                                      <p>Happening at [[${event.address.street}]], [[${event.address.city}]], [[${event.address.country}]] <a href="javascript:void(0);" data-abc="true">[[${event.eventTime}]]</a></p>
                                      <span class="vertical-timeline-element-date">[[${event.eventDate}]]</span>
                                  </div>
                                  <div class="vertical-timeline-element-content bounce-in">
                                      <a class="text-success" th:href="@{/dashboard/events/detail/{id}(id=${event.eventId})}"><h5>More Detail</h5></a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> </div>
          <div class="my-3">
              <div th:replace="~{fragments/pagination::pagination}"></div>
          </div>
  </div>
</body>
</html>