<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events-timeline.css}">
</head>
<body>
  <div th:fragment="events-timeline">
        <div class="card">
          <div class="card-body">
              <div class="d-flex justify-content-md-end px-md-4 ">
                  <button class="success-button" th:onclick="|window.location='@{/dashboard/events/add}'|">Add New Event</button>
              </div>
            <div class="mt-4 pt-3">
                <ul class="timeline mb-0 row">
                  <li th:each="event: ${events}" class="col-md-6 col-12">

                      <div class="date bg-light p-3">
                          <div class="d-flex justify-content-start align-items-center">
                              <i class="fa-solid fa-lg fa-trash delete-icon" role="button" style="color: brown;" th:onclick="|window.location='@{/dashboard/events/delete/{id}(id=${event.eventId})}'|"></i>
                          </div>
                          <h5 class="d-flex justify-content-end fs-16">[[${event.eventDate}]]</h5>
                        </div>
                        <div class="card" th:onclick="|window.location='@{/dashboard/events/detail/{id}(id=${event.eventId})}'|">
                          <div class="card-body" role="button">
                            <div class="event-content">
                              <div class="timeline-date bg-primary text-center rounded float-end">
                                <h3 class="text-white mb-0 fs-17">[[${event.eventTime}]]</h3>
                              </div>
                              <div class="timeline-text">
                                <h3 class="fs-17">[[${event.eventTitle}]]</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                  </li>
                    <div th:if="${events.size()==0}">
                        <p class="h3">No events available.</p>
                    </div>
                </ul>
              </div>
            </div>
          </div>
      <div class="my-3">
          <div th:replace="~{fragments/pagination::pagination}"></div>
      </div>
  </div>
</body>
</html>