<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Address</title>
</head>
<body>
<div th:fragment="event-registration-form">
  <form th:if="${event.eventId == 0}" th:action="@{/dashboard/events/processAdd}" th:object="${event}" method="POST">
    <div class="mb-3">
        <h3>Register a new event</h3>
      </div>
      <div class="row g-3">
        <div class="col-md-6 col-12">
          <label for="eventTitle1" class="form-label">Event Title</label>
          <input th:field="*{eventTitle}" type="text" class="form-control" id="eventTitle1">
        </div>
        <div class="col-md-6 col-12">
          <label for="eventDesc1" class="form-label">Event Description</label>
          <textarea th:field="*{eventDescription}" class="form-control" id="eventDesc1" rows="4"></textarea>
        </div>
        <div class="col-md-6 col-12">
          <label for="eventDate1" class="form-label">Evet Date</label>
          <input th:field="*{eventDate}" type="date" class="form-control" id="eventDate1">
        </div>
        <div class="col-md-6 col-12">
          <label for="eventTime1" class="form-label">Event Time</label>
          <input th:field="*{eventTime}" type="time" class="form-control" id="eventTime1">
        </div>
        <div class="form-check col">
          <input th:field="*{featured}" class="form-check-input" type="checkbox" value="" id="isFeatured1">
          <label class="form-check-label" for="isFeatured1">
            Feature this event
          </label>
        </div>
        <div>
          <h3 class="my-3">Event Location</h3>
          <div th:replace="~{dashboard/dash-fragments/address-form::address-form}"></div>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="success-button">Submit</button>
      </div>
  </form>


  <form th:if="${event.eventId != 0}" th:action="@{/dashboard/events/processUpdate}" th:object="${event}" method="POST">
    <div class="mb-3">
      <h3>Register a new event</h3>
    </div>
    <div class="row g-3">
      <input th:if="${event.eventId != 0}" th:field="*{eventId}" type="hidden">
      <div class="width-md-75">
        <div class="col-12 mb-3">
          <label for="eventTitle" class="form-label">Event Title</label>
          <input th:field="*{eventTitle}" type="text" class="form-control" id="eventTitle">
        </div>
        <div class="col-12 mb-3">
          <label for="tiny" class="form-label">Event Description</label>
          <textarea th:field="*{eventDescription}" class="form-control" id="tiny" rows="4"></textarea>
        </div>
        <div class="col-12 mb-3">
          <label for="eventDate" class="form-label">Evet Date</label>
          <input th:field="*{eventDate}" type="date" class="form-control" id="eventDate" required>
        </div>
        <div class="col-12 mb-3">
          <label for="eventTime" class="form-label">Event Time</label>
          <input th:field="*{eventTime}" type="time" class="form-control" id="eventTime" required>
        </div>
      </div>
      <div class="form-check col">
        <input th:field="*{featured}" class="form-check-input" type="checkbox" value="" id="isFeatured">
        <label class="form-check-label" for="isFeatured">
          Feature this event
        </label>
      </div>
      <div>
        <h3 class="my-3">Event Location</h3>
        <div th:replace="~{dashboard/dash-fragments/address-form::address-form}"></div>
      </div>

      <div th:if="${event.eventId != 0}" class="col-md-4">
        <input th:field="*{active}" class="form-check-input" type="checkbox" value="" id="isActive">
        <label class="form-check-label" for="isActive">
          Active
        </label>
      </div>
      <div th:if="${event.eventId != 0}" class="col-md-2">
        <input th:field="*{archived}" class="form-check-input" type="checkbox" value="" id="isArchived">
        <label class="form-check-label" for="isArchived">
          Archive
        </label>
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="success-button">Submit</button>
    </div>
  </form>
</div>
</body>
</html>