<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>News-list</title>
</head>
<body th:fragment="news-list">
    <div class="d-flex justify-content-end mx-3">
        <a th:href="@{/dashboard/news/form}">
            <h6 class="text-decoration-underline text-success">
                Post New News
            </h6>
        </a>
    </div>
    <h3 class="m-3 text-center text-md-start">News List</h3>

    <div class="row">
        <th:block th:each="news: ${newsList}">
            <div class="col-md-6 mb-3 px-3">
                <div class="card h-100">
                    <div class="card-body" role="button" th:onclick="|window.location='@{/dashboard/news/detail/{id}(id=${news.newsId})}'|">
                        <h5 class="card-title" th:text="${news.newsTitle}"></h5>
                        <p class="card-text text-muted" th:text="${news.newsPostTime.format(@dateTimeFormatter)}"></p>
                        <p class="card-text" th:text="${news.excerpt}"></p>
                    </div>
                    <a class="text-success text-center mt-4" th:href="@{/dashboard/news/detail/{id}(id=${news.newsId})}">
                        <h6>More Detail</h6>
                    </a>
                    <div class="d-flex flex-row justify-content-end">
                        <div class="d-flex  me-3 mb-3"  th:onclick="|window.location='@{/dashboard/news/delete/{id}(id=${news.newsId})}'|">
                            <i class="fa-solid fa-lg fa-trash delete-icon" role="button" style="color: brown;"></i>
                        </div>
                        <div class="d-flex me-3 mb-3"  th:onclick="|window.location='@{/dashboard/news/edit/{id}(id=${news.newsId})}'|">
                            <i class="fas fa-solid fa-lg fa-edit text-primary" role="button"></i>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <!-- Show a message if there are no blogs -->
    <div th:if="${newsList.size() == 0}">
        <h4 colspan="4" class="text-center text-muted">No News Found.</h4>
    </div>
    <div>
        <div th:replace="~{fragments/pagination::pagination}"></div>
    </div>
</body>
</html>