<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>News Detail</title>
</head>
<body>
<div th:fragment="news-detail" class="list-group">
  <div class="card">
    <div class="m-3">
                <Span class="d-flex justify-content-end">
                    <a th:href="@{/dashboard/news/edit/{id}(id=${news.newsId})}" class="me-1">Edit</a>
                    |
                    <a th:href="@{/dashboard/news}" class="mx-1">Back to the list</a>
                    |
                    <a th:href="@{/dashboard/news/delete/{id}(id=${news.newsId})}" class="mx-1">Delete</a>
                </Span>
    </div>
    <div class="card-header">
      <div class="d-flex w-100">
        <h5 class="mb-1">[[${news.newsTitle}]]</h5>
      </div>
      <p class="text-muted" th:text="${news.newsPostTime != null ? news.newsPostTime.format(@dateTimeFormatter): ''}"></p>
      by <span th:text="${#authentication.principal.user.userProfile !=null ? #authentication.principal.user.userProfile.firstName: #authentication.principal.username}"></span>
    </div>

    <div class="card-body">
      <p class="mb-1" th:utext="${news.newsText}"></p>
    </div>
  </div>
</div>
</body>
</html>