<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Event List</title>
</head>
<body>
<div th:fragment="announcements-list">
  <h3 class="text-success text-center" th:if="${announcements.size() == 0}">No announcement yet!</h3>
  <div th:unless="${announcements.size() == 0}" class="row d-flex justify-content-center mt-70 mb-70">
    <div class="col-md-6">
      <div class="mb-3 card">
        <div class="card-body">
          <h5 class="card-title text-info">Announcements</h5>
          <div th:each="announcement : ${announcements}" class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
            <div class="vertical-timeline-item vertical-timeline-element mb-3">
              <div>
                <span class="vertical-timeline-element-icon bounce-in">
                  <i class="badge badge-dot badge-dot-xl badge-success"></i>
                </span>
                <div class="vertical-timeline-element-content bounce-in">
                  <h4 class="timeline-title" th:text="${announcement.title}"></h4>
                  <p class="" th:text="${announcement.excerpt}"></p>
                  <p class="text-muted" th:text="|Posted on ${announcement.createdAt.format(@dateTimeFormatter)}|"></p>
                  <a class="text-success" th:href="@{/announcements/detail/{id}(id=${announcement.id})}">
                    <h6>More Detail</h6>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3">
    <div th:replace="~{fragments/pagination::pagination}"></div>
  </div>
</div>
</body>
</html>
