<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Baptism Request Status Update</title>
</head>
<body>
<div th:fragment="baptism-request-status-update">
    <form th:action="@{/dashboard/services/baptism/update-status/form/process}" th:object="${baptism}" method="POST">
        <input th:field="*{requestId}" type="hidden">
        <div class="col-md-6 col-12">
            <label for="baptismRequestType" class="form-label">Request Status</label>
            <select id="baptismRequestType" th:field="*{serviceStatus}" class="form-select">
                <option th:each="status : ${baptismRequestStatus}" th:value="${status}" th:text="${status.displayName}"></option>
            </select>
        </div>
        <div class="mt-3">
            <button type="submit" class="success-button">Submit</button>
        </div>
    </form>
</div>
</body>
</html>