<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events-timeline.css}">
</head>
<body>
  <div th:fragment="services-list">

      <div class="">
          <div class="d-flex justify-content-end mx-3">
              <a th:href="@{/dashboard/services/form}" role="button">
                  <h5 class="text-success">
                      Add New Service
                  </h5>
              </a>
          </div>
          <div class="m-4">
              <h4 th:if="${churchServices.size() == 0}">No service found!</h4>
          </div>

          <div class="row">
              <th:block th:each="service : ${churchServices}">
                  <div class="col-md-4 mb-4">
                      <div class="card h-100 shadow-sm">
                          <div class="card-body">
                              <!-- Blog Title -->
                              <h5 class="card-title mb-3 text-success" th:text="${service.serviceName}">Service Name</h5>

                              <!-- Blog Excerpt -->
                              <p class="card-text" th:text="${service.excerpt}"></p>
                          </div>

                          <!-- Blog Footer -->
                          <div class="card-footer text-center">
                              <div class="d-flex flex-row justify-content-center align-items-center">
                                  <a th:href="@{/dashboard/services/detail/{id}(id=${service.serviceId})}" class="button-sm success-button me-2">
                                      Read More
                                  </a>
                                  <a class="text-danger" th:href="@{/dashboard/services/delete/{id}(id=${service.serviceId})}" onclick="return confirm('Are you sure you want to delete this service?');">
                                      <i class="fa-solid fa-xl fa-trash delete-icon" role="button" style="color: brown;"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </th:block>
          </div>
      </div>
      <div>
          <div th:replace="~{fragments/pagination::pagination}"></div>
      </div>
  </div>
</body>
</html>