<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events-timeline.css}">
</head>
<body>
  <div th:fragment="services-list">

      <div class="width-md-75">
          <div class="d-flex justify-content-end mx-3">
              <a th:href="@{/dashboard/services/form}" role="button">
                  <h5>
                      Add New Service
                  </h5>
              </a>
          </div>
          <div class="m-4">
              <h4 th:if="${churchServices.size() == 0}">No service found!</h4>
          </div>
           <div th:each="service: ${churchServices}" class="py-4 shadow-sm mb-3 rounded-3 border border-info" role="button">
               <div class="row">
                   <div class="col-10" th:onclick="|window.location='@{/dashboard/services/detail/{id}(id=${service.serviceId})}'|">
                       <h4 href="#" class="list-group-item list-group-item-action px-3 border-1">[[${service.serviceName}]]</h4>
                   </div>
                   <div class="col-2 d-flex">
                       <div class="justify-content-end me-3">
                        <i class="fa-solid fa-xl fa-trash delete-icon" role="button" style="color: brown;" th:onclick="|window.location='@{/dashboard/services/delete/{id}(id=${service.serviceId})}'|"></i>
                       </div>
                   </div>
               </div>
           </div>
      </div>
  </div>
</body>
</html>